  <body>
    <!--====================  Island A: Header and Features (Easy)  ====================-->
    <section id="features">
      <div class="container island-wrap">
        <div class="row island color-white">
          <header>
          <p class="call">Call us: <strong>1-855-722-6746</strong></p>
          <a href="index.html"><img src="images/title_sm.png" alt="ScanShowSell.com" border="0" /></a>
          <ul class="main-nav pull-right">
            <!-- <li><a class="header-home" href="index.html">&nbsp;&nbsp;</a></li> -->
            <li><a href="why.html">why go mobile</a></li>
            <li><a class="active" href="features.html">features</a></li>
            <li><a href="pricing.html">pricing</a></li>
            <li><a href="showcase.html">showcase</a></li>
            <li><a href="#">blog</a></li>
            <li><div id="login_form"></div></li>
          </ul>
          </header>
        </div><!-- /row header -->

        <div class="row island color-white">
          <!-- Main hero unit for a primary marketing message or call to action -->
          <div class="span12">
            <br />
            <h1>Building a mobile website has never been so easy.</h1>
            <img src="images/features.png" alt="Build, customize, launch!" />
            <br /><br />
            <h3>Add your content, customize a theme, and launch your mobile website.<br/>
              Our simple and intuitive page manager helps you get<br />
              the most from your mobile website.</h3>
          </div>
        <div id="screen-1" class="span3">
          <center>
            <img src="images/screen-1.jpg" alt="page manager screenshot" />
          </center>
        </div><!-- /screen-1 -->
        <div id="screen-2" class="span3">
          <center>
            <img src="images/screen-2.jpg" alt="page manager screenshot" />
          </center>
        </div><!-- /screen-2 -->
        <div id="screen-3" class="span3">
          <center>
            <img src="images/screen-1.jpg" alt="page manager screenshot" />
          </center>
        </div><!-- /screen-3 -->
        </div><!-- /row island a -->
      </div><!-- island-wrap container -->
    </section><!-- /home row -->

    <!--====================  Island B: Powerful  ====================-->
    <section id="powerful">
      <div class="container island-wrap">
        <div class="row island color-blue">
            <div class="span12">
              <h1>Create a mobile presence for your company.</h1>
            </div>
            <div class="span6">
              <h3>We give you the tools to create more than a website. Using QR codes that can be placed nearly anywhere, you can create a mobile presence.
              </h3>
              <br /><br /><br />
              <img src="images/van.png" alt="van with a QR code on the side" />
            </div>
            <div class="span5">
              <img src="images/house_up.png" alt="house with a sign out front. the sign has a QR code on it." />
            </div>
        </div><!-- /row island c -->
      </div><!-- /container island-wrap -->
    </section><!--/three-steps -->

    <!--====================  Island B: Fast  ====================-->
    <section id="fast">
      <div class="container island-wrap">
        <div class="row island color-green">
            <div class="span12">
              <h1>Quickly share your website using QR codes.</h1>
            </div>
        </div><!-- /row island c -->
      </div><!-- /container island-wrap -->
    </section><!--/three-steps -->

    <!--====================  Island C: Forward  ====================-->
    <section id="forward">
      <div class="container island-wrap">
      <div class="row island color-orange">
        <div class="span12">
          <h1>Creating a mobile website is cheap!<a class="btn-flat white" href="pricing.html">learn more&nbsp;&nbsp;&rarr;</a></h1>
        </div><!-- /span12 -->
      </div><!-- /row island e -->
      </div><!-- /container island-wrap -->
    </section><!-- /forward -->

    <footer>
      <div id="footer-1">
        <div class="container island-wrap">
          <div class="row island f">
              <div class="span12">
                <ul id="sitemap-1">
                  <li><a href="#">Home</a></li>
                  <li><a class="active" href="#">Why Go Mobile</a></li>
                  <li><a href="#">How It Works</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Showcase</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </div><!-- /span12 -->
            </div><!-- /row island f -->
          </div><!-- /container island-wrap -->
        </div><!-- /footer-1 -->

        <div id="footer-2">
          <div class="container">
            <div class="row">
          <div class="span3">
            <ul id="sitemap-2">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Service Providers</a></li>
              <li><a href="#">Construction</a></li>
              <li><a href="#">Hospitality</a></li>
              <li><a href="#">Entertainment</a></li>
            </ul>
          </div><!-- /span3 -->
          <div class="span4">
            <h4>Newsletter</h4>
            <p>Get our newsletter.</p>
            <form action="">
              <div class="clearfix"><input class="span4" id="" name="" type="text" placeholder="Email Address" /></div>
            </form>
          </div><!-- /span5 -->
          <div class="span4">
            <h4>We're Social</h4>
            <p>Social media component.</p>
          </div><!-- /span4 -->
      </div><!-- /row -->
      </div>
    </footer>
  </body>