  <body>
    <section class="topbar">
      <div class="container">
        <div class="row">
        <ul class="nav">
          <li><a href="#service-providers">Service Providers</a></li>
          <li><a href="#construction">Construction</a></li>
          <li><a href="#hospitality">Hospitality</a></li>
          <li><a href="#entertainment">Entertainment</a></li>
        </ul>
        <div id="login_form"></div>
        </div>
      </div>
    </section>

    <!--====================  Island A: Header and Hero Unit  ====================-->
    <section id="home">
      <div class="container island-wrap">
      <div class="row island-a">
        <header>
          <a href="index.html"><img src="images/title_sm.png" alt="ScanShowSell.com" border="0" /></a>
          <ul class="main-nav pull-right">
            <!-- <li><a class="header-home" href="index.html">&nbsp;&nbsp;</a></li> -->
            <li><a href="why.html">why go mobile</a></li>
            <li><a class="active" href="process.html">how it works</a></li>
            <li><a href="features.html">features</a></li>
            <li><a href="pricing.html">pricing</a></li>
            <li><a href="showcase.html">showcase</a></li>
            <li><a href="#">blog</a></li>
          </ul>
        </header>
      </div><!-- /row header -->

      <div class="row island a">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="span12">
          <h1>How does it work?</h1>
        </div><!-- /row island a -->
      </div><!-- island-wrap container -->
    </section><!-- /home row -->

    <!--====================  Island C: Three Steps  ====================-->
    <section id="three-steps">
      <div class="container island-wrap">
      <div class="row island c">
          <div class="span12">
            <h2>our process is as simple as 1 - 2 - 3.</h2>
          </div>
          <div id="step1" class="span3">
            <center>
              <img src="images/step_1.png" alt="Step 1: Scan" />
            </center>
            <br />
            <h4>1.</h4>
            <p>Your prospect or customer scans your QR code from your business 
              card, vehicle, job sign...wherever.</p>
          </div><!-- /step-1 -->
          <div id="step2" class="span3">
            <center>
              <img src="images/step_2.png" alt="Step 2: Show" />
            </center>
            <br />
            <h4>2.</h4>
            <p>They are taken directly to your mobile friendly website.&nbsp; 
              One that is built specifically for smartphones.</p>
          </div><!-- /step-2 -->
          <div id="step3" class="span3">
            <center>
              <img src="images/step_3.png" alt="Step 3: Sell" />
            </center>
            <br />
            <h4>3.</h4>
            <p>With one click they can request a service call or an estimate. 
              They can also tap-to-call, tap-to-text, or tap-to-email you..</p>
          </div><!-- /step-3 -->
          <div class="span12">
            <h2>it's that easy. don't believe it? <a href="features.html">learn more!</a></h2>
          </div>
      </div><!-- /row island c -->
      </div><!-- /container island-wrap -->
    </section><!--/three-steps -->

    <!--====================  Island E: Built for Smartphones  ====================-->
    <section id="tailored">
      <div class="container island-wrap">
      <div class="row island e">
        <div class="span12">
          <h2>your website - tailored for smartphones.</h2>
        </div><!-- /span12 -->
        <div id="phones" class="span5">
          <img src="images/smartphones.png" alt="Your website will work on iPhone, Android, Windows Phone, Blackberry and more." />
        </div><!-- /phones -->
        <div class="span5 offset0">
          <h4>Something important.</h4>
          <p>Some more really important content. I'd love your help writing the copy for this section.</p>
        </div><!-- /span6 -->
      </div><!-- /row island e -->
      </div><!-- /container island-wrap -->
    </section><!-- /tailored -->

    <footer>
      <div id="footer-1">
        <div class="container island-wrap">
          <div class="row island f">
              <div class="span12">
                <ul id="sitemap-1">
                  <li><a href="#">Home</a></li>
                  <li><a class="active" href="#">Why Go Mobile</a></li>
                  <li><a href="#">How It Works</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Showcase</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </div><!-- /span12 -->
            </div><!-- /row island f -->
          </div><!-- /container island-wrap -->
        </div><!-- /footer-1 -->

        <div id="footer-2">
          <div class="container">
            <div class="row">
          <div class="span3">
            <ul id="sitemap-2">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Service Providers</a></li>
              <li><a href="#">Construction</a></li>
              <li><a href="#">Hospitality</a></li>
              <li><a href="#">Entertainment</a></li>
            </ul>
          </div><!-- /span3 -->
          <div class="span4">
            <h4>Newsletter</h4>
            <p>Get our newsletter.</p>
            <form action="">
              <div class="clearfix"><input class="span4" id="" name="" type="text" placeholder="Email Address" /></div>
            </form>
          </div><!-- /span5 -->
          <div class="span4">
            <h4>We're Social</h4>
            <p>Social media component.</p>
          </div><!-- /span4 -->
      </div><!-- /row -->
      </div>
    </footer>
  </body>