<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li class="active"><a href="#service-providers">Service Providers</a></li>
	  <li><a href="#construction">Construction</a></li>
          <li><a href="#hospitality">Hospitality</a></li>
          <li><a href="#entertainment">Entertainment</a></li>
          
          <li class="dropdown">
            <a class="dropdown-toggle" data-dropdown="dropdown" href="#">More...</a>
            <ul class="dropdown-menu">
              <li><a href="#construction">Construction</a></li>
              <li><a href="#landscaping">Landscaping</a></li>
            </ul>
          </li>
        </ul>
        <a class="btn primary pull-right" style="margin-top:5px;">Register</a>
      </div>
    </div>
  </div>

  
  <!--====================  Island A: Header and Hero Unit  ====================-->
  <div class="row">
    <div id="page-wrap" class="container">
      
      <header>
	<a href="index.html"><img src="images/title_sm.png" alt="ScanShowSell.com" border="0" /></a>
	<ul class="main-nav pull-right">
	  <li><a class="header-home" href="index.html">&nbsp;&nbsp;</a></li>
	  <li><a href="why.html">why go mobile</a></li>
	  <li><a class="active" href="process.html">how it works</a></li>
	  <li><a href="features.html">features</a></li>
	  <li><a href="pricing.html">pricing</a></li>
	  <li><a href="about.html">about</a></li>
	</ul>
      </header>
      
      <div class="row">
	<div class="container">
	  <div class="span16">
	    <h2>how it works</h2>
	  </div><!-- /span16 -->
	</div>
      </div><!-- /row -->
      
      <div class="row">
	<div class="container">
	  <div class="span6">
	    <blockquote>The time to go mobile is today. Mobile sites drive growth for small businesses</blockquote>
	    <p>According to Google, nearly 1 in 5 visits to a small business mobile-friendly site leads to an immediate call to the business. With more than half of Americans using smartphones as of the end of 2011, it's critical you prepare for this opportunity and fast.</p>
          </div>
          
          <div class="span6 offset4"></div>
          <h4>What is a mobile-friendly site?</h4>
          <p>Our mobile-friendly sites are built specifically for the mobile experience. These hand crafted and well engineered websites take full advantage of mobile features, including tap to call and tap to text. It's an easy and quick way for users to contact you or your business</p>
	</div><!-- /span8 -->
      </div><!-- /row -->
      
    </div><!-- /container -->
  </div>
</div><!-- /row -->

<footer>
  <div class="container">
    <div class="row">
      <div class="span6">
      	<h4>Site Map</h4>
      	<ul id="sitemap-1">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">About</a></li>
	  <li><a href="#">Sellers</a></li>
	  <li><a href="#">Buyers</a></li>
	  <li><a href="#">Tools & Resources</a></li>
	  <li><a href="#">Contact</a></li>
	</ul>
	<ul id="sitemap-2">
	  <li><a href="#">Network</a></li>
	  <li><a href="#">Real Estate</a></li>
	  <li><a href="#">Automotive</a></li>
	  <li><a href="#">Aviation</a></li>
	  <li><a href="#">Marine</a></li>
	  <li><a href="#">Support</a></li>
	</ul>
      </div>
      
      <div class="span5">
      	<h4>Newsletter</h4>
      	<p>Get our newsletter.</p>
      	<form action="">
      	  <div class="clearfix"><input class="span4" id="" name="" type="text" placeholder="Email Address" /></div>
      	</form>
      </div>
      
      <div class="span5">
      	<h4>We're Social</h4>
      	<p>Social media component.</p>
      </div>
    </div>
  </div>
</footer>

<!-- activate tabs with JavaScript -->
<script>
  $(function() {

  $("ul.breadcrumb").tabs("div.css-panes > div", {effect: 'ajax'});

  });
</script>
</body>

