<body>
  <div class="container">
    <div id="panel-wrap">
      <div id="panel">
        <div class="row">
	  <header>
	    <a href="http://www.scanshowsell.com"><img src="images/title_med.png" alt="ScanShowSell.com"/></a>
	    <h1 class="pull-right">Register Now</h1>
	  </header>
	</div>
	
	<div class="row">
	  <div id="page-wrap">
	    <hgroup>
	      <h2>Start your 30-day free trial today! No credit card necessary.</h2>
	      <h5>Build, customize and host a beautiful mobile website with us - for free. No payment necessary, cancel anytime.</h5>
	    </hgroup>
	    
	    <form id="registrationForm" name="registrationForm" action="wizard.html">
	      <ul id="formList">
	        <li>
	          <!-- ===== WEBSITE NAME ====== -->
	          <div class="clearfix">
	            <label for="website-name">Website name</label>
	            <div class="input">
	              <input type="text" id="website-name" size="30" name="website-name" placeholder="Your Site Name" class="span7 {validate: {required:true, uniqueWebsiteName:true}}"/>
	            </div>
	          </div><!-- /clearfix -->
	          <p class="hint-inline">This will also be used as your website's address. (Example: www.scanshowsell.com/m/mymobilewebsitename )</p>
	        </li> 
	        	        
	        <li>
	          <!-- ===== EMAIL ADDRESS ====== -->
	          <div class="clearfix">
	            <label for="emailAddress">Email Address</label>
	            <div class="input">
	              <input type="text" id="emailAddress" size="30" name="emailAddress" class="span7 {validate: {required:true, email:true, uniqueUserName:true}}"/>
	            </div>

	            <label for="emailConfirm">Confirm Email</label>
	            <div class="input">
	              <input type="text" id="emailConfirm" size="30" name="emailConfirm" class="span7 {validate: {required:true, email:true, equalTo: '#emailAddress'}}" />
	            </div>
	          </div><!-- /clearfix -->
	          <p class="hint-inline">Your email address will be your login ID.</p>
	        </li>
	        
	        <li>
	          <!-- ===== PASSWORD ====== -->
	          <div class="clearfix">
	            <label for="password">Choose Password</label>
	            <div class="input">
	              <input type="password" id="password" size="30" name="password" class="span7 {validate: {required:true,minlength:6}}"/>
	            </div>

	            <label for="passwordConfirm">Confirm Password</label>
	            <div class="input">
	              <input type="password" id="passwordConfirm" size="30" name="passwordConfirm" class="span7 {validate: {required:true, equalTo:'#password'}}"/>
	            </div>
	          </div><!-- /clearfix -->
	          <p class="hint-inline">Password must be at least 6 characters long, numbers and letters only (no spaces, or special symbols)..</p>
	        </li>
	        
	        <li>
	          <!-- ===== SPAM ALERT ====== -->
	          <div class="clearfix">
	            <label class="spamLabel" for="areYouHuman">What is <span id="randomEQ" class="label warning">2&nbsp;&nbsp;+&nbsp;&nbsp;2</span>&nbsp;?</label>
	            <div class="input">
	              <input type="text" id="areYouHuman" name="areYouHuman" class="mini {validate: {required:true}}"/>
	            </div>
	          </div><!-- /clearfix -->
	          <p class="hint-inline">We're just making sure you're a human and not a spam-bot.</p>
	        </li>
	        
	        <li>
	          <!-- ===== TOS AGREEMENT ====== -->
	          <div class="clearfix">
	            <input type="checkbox" name="tosAgree" value="yes" class="{validate: {required:true}}"/>
	            <span class="tosAgree">I agree to the <a href="#">Terms of Service</a></span>
	            <button type="submit" class="btn large success">Build your mobile website&nbsp;&nbsp;&rarr;</button>
	          </div><!-- /clearfix -->
	        </li>
	      </ul>
	    </form>
          </div>  <!-- /span16 -->
        </div>  <!-- /row -->
        
      </div>  <!-- /panel -->
    </div> <!-- /panel-wrap -->
  </div>  <!-- /container -->
</body>

