  <body>
    <!--====================  Island A: Header and Hero Unit  ====================-->
    <section id="why">
      <div class="container island-wrap">
        <div class="row island color-white">
          <header>
          <p class="call">Call us: <strong>1-855-722-6746</strong></p>
          <a href="index.html"><img src="images/title_sm.png" alt="ScanShowSell.com" border="0" /></a>
          <ul class="main-nav pull-right">
            <!-- <li><a class="header-home" href="index.html">&nbsp;&nbsp;</a></li> -->
            <li><a class="active" href="why.html">why go mobile</a></li>
            <li><a href="features.html">features</a></li>
            <li><a href="pricing.html">pricing</a></li>
            <li><a href="showcase.html">showcase</a></li>
            <li><a href="#">blog</a></li>
            <li><div id="login_form"></div></li>
          </ul>
          </header>
        </div><!-- /row header -->

        <div class="row island color-white">
          <!-- Main hero unit for a primary marketing message or call to action -->
          <div class="span12">
            <br />
            <h1>Your information, in a mobile-friendly format.</h1>
            <img src="images/video_prev.jpg" alt="Video about ScanShowSell" />
            <br /><br />
            <h3>Your mobile site is designed to help you showcase your services and products in an easy, portable format.</h3>
          </div><!-- /slider-wrap -->
        </div><!-- /row island a -->
      </div><!-- island-wrap container -->
    </section><!-- /home row -->

    <!--====================  Island B: Connect  ====================-->
    <section id="connect">
      <div class="container island-wrap">
        <div class="row island color-blue">
            <div class="span12">
              <h1>Connect to new and returning customers, easily &amp; quickly.</h1>
            </div>
            <div class="span6">
              <h3>With the tap of a button, you are a phone call
                  away. Get service calls, estimates and
                  more - all with the tap of a button.
              </h3>
              <br />
              <img src="images/social_icons.png" alt="We support Facebook, Twitter, and more..." />
              <br /><br />
              <h3>Generate new business by connecting
                  your website to Facebook, Twitter,
                  and more!
              </h3>
            </div>
            <div class="span5">
              <img src="images/connect.png" alt="Connect with your customers instantly." />
            </div>
        </div><!-- /row island c -->
      </div><!-- /container island-wrap -->
    </section><!--/three-steps -->

    <!--====================  Island C: Forward  ====================-->
    <section id="forward">
      <div class="container island-wrap">
      <div class="row island color-orange">
        <div class="span12">
          <h1>It's easy to create a mobile website. <a class="btn-flat white" href="features.html">see how&nbsp;&nbsp;&rarr;</a></h1>
        </div><!-- /span12 -->
      </div><!-- /row island e -->
      </div><!-- /container island-wrap -->
    </section><!-- /tailored -->

    <footer>
      <div id="footer-1">
        <div class="container island-wrap">
          <div class="row island f">
              <div class="span12">
                <ul id="sitemap-1">
                  <li><a href="#">Home</a></li>
                  <li><a class="active" href="#">Why Go Mobile</a></li>
                  <li><a href="#">How It Works</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Showcase</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </div><!-- /span12 -->
            </div><!-- /row island f -->
          </div><!-- /container island-wrap -->
        </div><!-- /footer-1 -->

        <div id="footer-2">
          <div class="container">
            <div class="row">
          <div class="span3">
            <ul id="sitemap-2">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Service Providers</a></li>
              <li><a href="#">Construction</a></li>
              <li><a href="#">Hospitality</a></li>
              <li><a href="#">Entertainment</a></li>
            </ul>
          </div><!-- /span3 -->
          <div class="span4">
            <h4>Newsletter</h4>
            <p>Get our newsletter.</p>
            <form action="">
              <div class="clearfix"><input class="span4" id="" name="" type="text" placeholder="Email Address" /></div>
            </form>
          </div><!-- /span5 -->
          <div class="span4">
            <h4>We're Social</h4>
            <p>Social media component.</p>
          </div><!-- /span4 -->
      </div><!-- /row -->
      </div>
    </footer>
  </body>