<body>
  <div id="panel-wrap" class="container">
      <div id="panel">
        <header>
          <a href="http://www.scanshowsell.com"><img src="images/title_sm.png" alt="ScanShowSell.com" border="0" /></a>
          <a href="#" class="call-us pull-right">
          1-855-722-6746 ( 855-SCANSHOWSELL )
          <br />
          We're just a phone call away!</a>
        </header>

        <div id="wizard-nav" class="row">
          <ul class="tabs" data-tabs="">
            <li class="active"><a href="#profile-pane">1.&nbsp;Company Profile</a></li>
            <li><a href="#upload-photos-pane">2.&nbsp;Upload Photos</a></li>
            <li><a href="#services-pane">3.&nbsp;Services/Products</a></li>
            <li><a href="#service-area-pane">4.&nbsp;Service Area</a></li>
            <li><a href="#optional-pages-pane">5.&nbsp;Optional Pages</a></li>
            <li><a href="#choose-theme-pane">6.&nbsp;Choose a Theme</a></li>
            <li><a href="#prevpub-pane">7.&nbsp;Preview &amp; Publish</a></li>
          </ul>
        </div>

        <div id="wizard" class="tab-content">
          <div class="tab-pane active" id="profile-pane">
            <hgroup>
              <h2 class="step">1</h2>
              <h2>Contact Information</h2>
            </hgroup>
            {{ processTemplate(context.user['profile']) }}
          </div>  <!-- /tab-pane -->

          <div class="tab-pane" id="upload-photos-pane">
            <hgroup>
              <h2 class="step">2</h2>
              <h2>Upload Photos</h2>
            </hgroup>
            {{ processTemplate(context.user['manage-photos']) }}
          </div>

          <div class="tab-pane" id="services-pane">
            <hgroup>
              <h2 class="step">3</h2>
              <h2>Services &amp; Products</h2>
            </hgroup>
            {{ processTemplate(context.user['services']) }}
          </div>  <!-- /tab-pane -->

          <div class="tab-pane" id="service-area-pane">
            <hgroup>
              <h2 class="step">4</h2>
              <h2>Service Areas</h2>
            </hgroup>
            {{ processTemplate(context.user['service-areas']) }}
          </div>  <!-- /tab-pane -->

          <div class="tab-pane" id="optional-pages-pane">
            <hgroup>
              <h2 class="step">5</h2>
              <h2>Optional Pages</h2>
            </hgroup>
            {{ processTemplate(context.user['optional-pages']) }}
          </div>  <!-- /tab-pane -->

          <div class="tab-pane" id="choose-theme-pane">
            <hgroup>
              <h2 class="step">6</h2>
              <h2>Choose A Theme</h2>
            </hgroup>
            {{ processTemplate(context.user['choose-theme']) }}
          </div>  <!-- /tab-pane -->
          
          <div class="tab-pane" id="prevpub-pane">
            <div id="preview-publish" class="span12">
              <hgroup>
                <h2 class="step">7</h2>
                <h2>Preview &amp; Publish</h2>
              </hgroup>
              <div id="emulator-wrap" class="span6">
                <div id="emulator">
                  <iframe id="emulator-view-0" src=""></iframe>
                </div>
              </div><!--/emulator -->

              <div class="sidebar span4">
                <div class="page-tools span4">
                  <h3>Your website is ready to go!</h3>
                  <p>You're now ready to publish your mobile site. To the right is a preview of your site. Be sure to play around with it and double check your information.</p>
                  <div class="btn-group-tools">
                    <a href="user/manage.html" class="btn-flat green sidebar do-save-page hash"><i class="icon-arrow-right icon-white"></i>&nbsp;&nbsp;Finish &amp; Go to Manager</a>
                    <a href="#" id="publish" class="btn-flat blue sidebar"><i class="icon-qrcode icon-white"></i>&nbsp;&nbsp;Publish &amp; Generate QR Code</a>
                  </div><!-- /btn-group-tools -->
                  
                  <div id="qr-wrap" class="">
                    <img src="http://placehold.it/280&amp;text=YOUR+QR+CODE+HERE" alt="QR code placeholder" />
                  </div><!-- /qr-wrap -->
                </div><!-- /page-tools -->
              </div><!--/sidebar -->
            </div>  <!--/preview-publish -->
          </div>  <!-- /tab-pane -->
        </div>  <!-- /tab-content -->
  </div>  <!-- /panel-wrap .container -->
<script src="js/application.js"></script>
</body>


