

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Top Bar
:: Header
:: Lists
:: Typography 
:: Content Islands
:: Miscallaneous Styles
*/


/*  --------------------------------------------------
    Top Bar
    -------------------------------------------------- */ 
    
    .topbar {
			  height: 40px;
			  background:#f9f9fe;
			  border-bottom:1px solid #e3e3e3;
			  overflow: visible;
			}
	.topbar a {
	  color: #999;
	}
	.topbar h3 a:hover, .topbar .brand a:hover, .topbar ul .active > a {
	  background: #ebebeb;
	  color: #393939;
	  text-decoration: none;
	}
	.topbar h3 {
	  position: relative;
	}
	.topbar h3 a, .topbar .brand {
	  float: left;
	  display: block;
	  padding: 8px 20px 12px;
	  margin-left: -20px;
	  color: #ffffff;
	  font-size: 20px;
	  font-weight: 200;
	  line-height: 1;
	}
	.topbar p {
	  margin: 0;
	  line-height: 40px;
	}
	.topbar p a:hover {
	  background-color: transparent;
	  color: #393939;
	}
	.topbar div > ul, .nav {
	  display: block;
	  float: left;
	  margin: 0 10px 0 0;
	  position: relative;
	  left: 0;
	}
	.topbar div > ul > li, .nav > li {
	  display: block;
	  float: left;
	}
	.topbar div > ul a, .nav a {
	  display: block;
	  float: none;
	  padding: 10px 10px 11px;
	  line-height: 19px;
	  text-decoration: none;
	}
	.topbar div > ul a:hover, .nav a:hover {
	  color: #393939;
	  text-decoration: none;
	}
	.topbar div > ul .active > a, .nav .active > a {
	  background: #ebebeb;
	}
	.topbar div > ul.secondary-nav, .nav.secondary-nav {
	  float: right;
	  margin-left: 10px;
	  margin-right: 0;
	}

	.call		 	{margin-top:5px;padding:5px 10px;background:#ff6600;color:#e3e3e3;display:inline-block;float:none;position:absolute;right:125px;top:-6px;}
	#loin_form		{margin-top:5px;padding:5px 10px;background:#d1d1d1;color:#434343;float:right;}
	#login_form a 	{margin:0;padding:10px 5px;font-size:inherit;color:#434343;font-weight:600;display:inline-block;}
	
/*	--------------------------------------------------
	Header
	-------------------------------------------------- */

	header						{ margin:36px 0; }
	.main-nav					{ margin:18px 0;list-style:none;zoom:1; }
	.main-nav li				{ float:left; }
	.main-nav li a				{ margin:0 10px;padding:10px;color:#737373;font-size:16px;font-weight:500;font-variant:small-caps;text-decoration:none;display:block; }
	.main-nav li a:last-child	{ margin-right:0 !important; }
	.main-nav li a:active		{ border-bottom-color: #0033cc;}
	.main-nav li a:hover		{ border-bottom:3px solid #434343;color:#434343; }
	.main-nav li a.active		{ border-bottom:3px solid #0066ff;background-color:#f1f1f1;}
	.header-home				{
								 background-image:url('../images/home_header.png');
								 background-repeat:no-repeat;
								 background-position:center -18px;
								 padding: 5px 10px;
								}
	.header-home:hover			{background-position:center 12px;}
	


/*	--------------------------------------------------
	Lists
	-------------------------------------------------- */
	
	#sitemap-1					{
								margin:0 auto;
								padding:36px 0 18px;
								height:54px;
								float:none;
								list-style:none;
								position:relative;
								}
	#sitemap-1 li 				{margin:0;padding:0;float:left;list-style:none;}
	#sitemap-1 li a 			{
								margin:0 35px;
								padding:10px 20px;
								color:#c3c3c3;
								font-size:1.25em;
								width:auto;
								height:auto;
								display:block;
								}
	#sitemap-1 li a:first-child {margin-left:0;}

	#sitemap-2					{margin:0 0 0 40px;float:left;list-style:none;}
	
	dl							{margin-bottom:36px;}

	


/*    --------------------------------------------------
    Typography
    -------------------------------------------------- */
	.island p 		{font-size:16px;line-height:24px;}

	h1 				{font-family:'Lato', 'Helvetica Neue', Helvetica, sans-serif;font-weight:300;}
	.island h2 		{margin:36px 0;font-family:'Novecentowide-Normal', sans-serif;font-weight:100;letter-spacing:1px;text-align:center;}
	.island.b h3 	{margin-bottom:36px;font-family:'Lato', 'Helvetica Neue', Helvetica, sans-serif;text-transform:uppercase;font-weight:300;color:#f3f3f3;letter-spacing:1px;text-align:center;}
	.island.c h2 	{color:#f3f3f3;}
	.island.c h4 	{color:#f3f3f3;}
	.island.d h2 	{color:#663300;}
	.island.e h2 	{color:#009900;}

	.island.b label	{padding:36px 0 0 30px;width:auto;float:left;font-size:2em;}
	.strong			{font-weight:700;}

/*    --------------------------------------------------
    Hero Unit
    -------------------------------------------------- */
	#slider1		{margin:0 !important;}
	.slide1,
	.slide2,
	.slide3			{
					 background-repeat:no-repeat;
					 margin:0;
					 padding:0;
					 display: inline;
					 float:left;
					 width:1020px;
					 height:390px;
					 }
	.slide1			{background-image:url('../images/hero_slide-1.png');text-align:right !important;}
	.slide2			{background-image:url('../images/hero_slide-2.png');text-align:left !important;}
	.slide3			{background-image:url('../images/hero_slide-3.png');text-align:right !important;}
	.slide1 > div > div,
	.slide2 > div > div,
	.slide3 > div > div		{margin-top:18px;}

	#slider2 li .slide1,
	#slider2 li .slide2 		{background-image:none;}

/*  --------------------------------------------------
    Content Islands
    -------------------------------------------------- */ 
    
    #home 			{padding-bottom:18px;background:#f9f9f9;}
    #call-1 		{padding-top:36px;padding-bottom:54px;background:#181b20;}

    	.island.b div.input {margin:14px 0 0 10px;float:left;}
    	.island.b a.btn-flat 	{margin:14px 30px 0 0;}
    	#website-name	{padding:10px;font-size:2em;height:40px;width:370px;border-radius:0;}

    #three-steps	{padding-top:0;padding-bottom:18px;background:#0066cc;}

	    #step1 h4		{margin:0 auto 18px auto;width:29px;height:28px;text-indent:-9999px;background-image:url('../images/scribble_no-1.png');background-repeat: no-repeat;}
		#step2 h4		{margin:0 auto 18px auto;width:35px;height:28px;text-indent:-9999px;background-image:url('../images/scribble_no-2.png');background-repeat: no-repeat;}
		#step3 h4		{margin:0 auto 18px auto;width:35px;height:28px;text-indent:-9999px;background-image:url('../images/scribble_no-3.png');background-repeat: no-repeat;}
		#step1,
		#step2,
		#step3 			{margin:36px 0 36px 130px;color:#e3e3e3;}
		#step1 			{margin-left:20px !important;}
		#step1 img,
		#step3 img 		{padding-bottom:54px;}
		#step2 img 		{padding-bottom:6px;}

	#perfect 		{background:#ff6600;}

		#col-1,
		#col-2,
		#col-3 			{margin-bottom:18px;margin-left:130px;}
		#col-1 			{margin-left:20px !important;}
		#col-1 ul,
		#col-2 ul,
		#col-3 ul 		{padding:0;list-style:none;}
		#col-1 ul li,
		#col-2 ul li,
		#col-3 ul li 	{
						margin:0;
						padding:18px 0;
						padding-left:40px;
						color:#f3f3f3;
						list-style:none;
						background-image: url("../images/sprite-perfect.png");
						background-repeat: no-repeat;
						}
		li.icn-elec		{background-position: -42px 3px;}
		li.icn-plumb	{background-position: -43px -57px;}
		li.icn-saw		{background-position: -40px -122px;}
		li.icn-tree		{background-position: -370px 3px;}
		li.icn-bricks	{background-position: -370px -57px;}
		li.icn-anvil	{background-position: -370px -122px;}
		li.icn-person	{background-position: -690px 3px;}
		li.icn-small-bus{background-position: -690px -57px;}
		li.icn-med-bus	{background-position: -690px -122px;}

	#tailored 		{padding-top:18px;padding-bottom:36px;background:#e8fce8;}
    
    footer			{margin:0;padding:0;padding-bottom:36px;background:url('../images/broken_noise.png');}
    footer h4		{color:#f3f3f3;text-shadow:2px 2px 2px rgba(0,0,0,0.4);}
    footer p		{color:#e3e3e3;}

    #footer-1 		{margin-bottom:36px;background-color:rgba(14,17,23,0.45);}



/*  --------------------------------------------------
    UI Elements
    -------------------------------------------------- */ 

    .btn-flat {
        cursor: pointer;
        display: inline-block;
        background: #dedede;
        border:0 none !important;
        border-radius:0 !important;
        padding: 12px 14px;
        color: #333;
		font-family: 'Novecentowide-Normal', sans-serif;
		font-variant: small-caps;
		text-decoration:none;
		text-shadow:1px 1px 1px rgba(0,0,0,0.35);
        font-size: 16px;
        font-weight:600;
        line-height: 16px;
        -webkit-transition: 0.2s linear all;
        -moz-transition: 0.2s linear all;
        -ms-transition: 0.2s linear all;
        -o-transition: 0.2s linear all;
        transition: 0.2s linear all;
    }
    .btn-flat:hover {
        color: #131313;
        text-decoration: none;
        background: #efefef;
    }
    .btn-flat:focus {
        outline: 1px dotted #666;
    }
    .btn-flat.disabled {
        cursor: default;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        filter: alpha(opacity=65);
        -khtml-opacity: 0.65;
        -moz-opacity: 0.65;
        opacity: 0.65;
    }
    .btn-flat[disabled] {
        cursor: default;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        filter: alpha(opacity=65);
        -khtml-opacity: 0.65;
        -moz-opacity: 0.65;
        opacity: 0.65;
    }
    .btn-flat.dark-grey {
        color:#e3e3e3;
        background: #262626;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    }
    .btn-flat.dark-grey:hover {
        color:#f3f3f3;
        background: #161616;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    }
    .btn-flat.white {
	    color:#494949;
	    background:#f3f3f3;
    }
    .btn-flat.white:hover {
	    color:#313131;
	    background:#fefefe;
    }
    .btn-flat.border {
		padding:18px;
		color:#393939;
		background:#f3f3f3;
		box-shadow:inset 0 0 0 3px #262626;
    }
    .btn-flat.border:hover {
	    padding:18px;
	    color:#393939;
	    background:#fcfcfc;
	    box-shadow:inset 0 0 0 3px #161616;
    }
    .btn-flat.blue {
		color:#e3e3e3;
		background: #0066ff;
    }
    .btn-flat.blue.hero {
    	margin-top:18px;
	    padding:18px 20px;
	    box-shadow:0 2px 0 0 rgba(3,28,65,0.95);
	    font-size:1.75em;
	    font-weight:normal;
    }
    .btn-flat.blue:hover {
	    color:#f3f3f3;
	    background: #3399ff;
    }
    .btn-flat.blue:active {
	    box-shadow:inset 0 2px 0 0 rgba(3,28,65,0.95);
    }
    .btn-flat.green {
	    color:#e3e3e3;
	    background: #009900;
    }
    .btn-flat.green.hero {
    	margin-top:18px;
	    padding:18px 20px;
	    box-shadow:0 2px 0 0 rgba(8,21,8,0.95);
	    font-size:1.75em;
	    font-weight:normal;
    }
    .btn-flat.green:hover {
	    color:#f3f3f3;
	    background: #00cb00;
    }
    .btn-flat.green:active {
	    box-shadow:inset 0 2px 0 0 rgba(8,21,8,0.95);
    }
    .btn-flat.red {
	    color:#e3e3e3;
	    background:#cf0404;
    }
    .btn-flat.red:hover {
	    color:#f3f3f3;
	    background:#ff3019;
    }
    .btn-flat.orange {
	    color:#e3e3e3;
	    background:#e8700f;
    }
    .btn-flat.orange.hero {
    	margin-top:18px;
	    padding:18px 20px;
	    box-shadow:0 2px 0 0 rgba(25,7,1,0.95);
	    font-size:1.75em;
	    font-weight:normal;
    }
    .btn-flat.orange:hover {
		color:#f3f3f3;
		background:#f38c39;
    }
    .btn-flat.orange:active {
	    box-shadow:inset 0 2px 0 0 rgba(25,7,1,0.95);
    }
    .btn-flat .btn-rarr {
		background-image: url('../images/btn_rarr.png');
		background-repeat:no-repeat;
		background-position: right 6px;
	}
    .btn-flat.sidebar   { text-align:left;width:280px;padding:12px 10px; margin-bottom:10px; }
    .full {
	    width:100%;
	    margin:18px 0;
	    padding:18px 0;
	    text-align:center;
    }
    .large {
	    padding:24px;
	    font-size:1.75em;
	    font-weight:300;
	    letter-spacing:1px;
    }
    .medium {
        width:150px;
        padding:10px;
    }
    .small {
        width:90px;
        padding:10px 20px;
    }
    .square {
        width:16px;
        height:18px;
    }

/*  --------------------------------------------------
    Miscellaneous
    -------------------------------------------------- */ 
    
    #panel-wrap		{margin:0 auto;padding:10px;float:none;background:rgba(14,17,23,0.55);}
    #panel			{background:#f2f2f2;-webkit-box-shadow:0px 3px 6px rgba(0,0,0,0.5);-moz-box-shadow:0px 3px 6px rgba(0,0,0,0.5);-o-box-shadow:0px 3px 6px rgba(0,0,0,0.5);box-shadow:0px 3px 6px rgba(0,0,0,0.5);}
	

	    
