<div class="sidebar row">
  <div class="page-tools span3">
    <img src="../images/mobile-prev-sm.png" alt="iPhone Screen Preview" />
    <p class="page-info"><strong>Profile Page</strong></p>
    <p class="page-info">This version of the sidebar should only be visible on the wizard pages. View an interactive preview of this page in your desktop's browser by clicking the 'Preview Page' button below.</p>
    <div class="btn-group-tools">
      <a href="#credentials-pane" class="btn-flat green full do-save-page do-next"><i class="icon-ok icon-white"></i>Save &amp; Next:&nbsp;Credentials</a>
      <a href="manage.html" class="btn-flat white full hash" rel="tooltip" title="Skip to Page Manager">Skip to Page Manager&nbsp;&rarr;</a>
    </div><!-- /btn-group-tools -->
  </div>
</div><!-- /sidebar -->
