<!DOCTYPE html>
<html lang="en">
  {{ processTemplate(template.user._head) }}
  <body>
    {{ processTemplate(template.user._topbar) }}
    <div id="page-wrap" class="container">  <!--  Page Wrap  -->
	    <header>
			<a href="http://www.scanshowsell.com"><img src="../images/title_sm.png" alt="ScanShowSell.com" /></a>
			<a href="#" class="call-us pull-right">
			1-855-722-6746 ( 855-SCANSHOWSELL )
			<br />
			We're just a phone call away!
			</a>
	    </header>
      
	    <div id="body" class="row">
		    {{ processTemplate(file) }}
	    </div>
    </div> <!-- /.container -->
    
    {{ processTemplate(template.user._footer) }}
    
  </body>
</html>
