<nav class="navbar navbar-fixed-top">  <!--  navbar  -->
  <div class="navbar-inner">
    <div class="container">
      <ul id="main-nav" class="nav">
       	<li class="dropdown" id="navbar-requests-toggle">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            <span class="requests-indicator"></span>Requests
          </a>
       	  <ul id="requests-menu" class="dropdown-menu">
            <li class="divider"></li>
       	    <li><a href="inbox.html" class="btnInbox"><i class="icon-inbox"></i>&nbsp;Go to Inbox</a></li>
       	  </ul><!-- /topbar-requests -->
       	</li>
       	<li><a class="navbar-manage hash" href="manage.html">Manage</a></li>
       	<li><a class="navbar-themes hash" href="themes.html">Themes</a></li>
        <!-- V2 Feature 
       	<li><a class="navbar-stats" href="stats.html">Stats</a></li> -->
       	<li><a class="navbar-support" href="support.html">Support</a></li>
       	<li class="dropdown" id="xxx">
          <a href="#"  data-toggle="dropdown" class="dropdown-toggle">Click me</a>
       	  <ul class="dropdown-menu">
       	    <li><a href="/user/profile.html" class="btnInbox" data-pjax="#body">Profile</a></li>
       	    <li><a href="/user/manage-photos.html" class="btnInbox" data-pjax="#body">Manage Photos</li>
       	    <li><a href="/user/services.html" class="btnInbox" data-pjax="#body">Services</li>
       	    <li><a href="/user/service-areas.html" class="btnInbox" data-pjax="#body">Service Areas</a></li>
       	    <li><a href="/user/special-offers.html" class="btnInbox" data-pjax="#body">Special Offers</a></li>
       	    <li><a href="/user/testimonials.html" class="btnInbox" data-pjax="#body">Testimonials</a></li>
       	  </ul><!-- /topbar-requests -->
       	</li>

      </ul>
      <a id="login_form" href="">Login</a>
       
      <ul class="nav pull-right">
        <!-- Using standard couchDB login until conflict is resolved
        <li><a id="login_form" href="#">Login</a></li>  -->
       	<li id="navbar-user-toggle">
          <a href="account-settings.html">Welcome,&nbsp;{ user-name }!</a>
       	</li>
      </ul><!-- /pull-right -->
    </div>  <!--  /container  -->
  </div>  <!--  /navbar-inner  -->

<div id="request-screen" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Request</h3>
  </div>
  <div class="modal-body">
    <h5>Credentials Page</h5>
    <code></code>
  </div>
</div>

</nav>  <!--  /navbar  -->
