<nav class="navbar navbar-fixed-top">  <!--  navbar  -->
  <div class="navbar-inner">
    <div class="container">
      <ul id="main-nav" class="nav">
       	<li class="dropdown" id="navbar-requests-toggle">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            <span class="requests-indicator"></span>Requests
            </a>
       	  <ul id="requests-menu" class="dropdown-menu">
       	    <li><a class="navbar-testimonial" href="#"><i class="icon-file"></i>&nbsp;<b>Testimonial Added</b> by Jenny G.</a></li>
       	    <li><a class="navbar-service" href="#"><i class="icon-comment"></i>&nbsp;<b>Service Request</b> from Michael A.</a></li>
       	    <li><a class="navbar-service" href="#"><i class="icon-comment"></i>&nbsp;<b>Service Request</b> from Dee G.</a></li>
       	    <li><a class="navbar-estimate" href="#"><i class="icon-comment"></i>&nbsp;<b>Estimate Request</b> from Samuel G.</a></li>
                <li class="divider"></li>
       	    <li><a href="inbox.html" class="btnInbox"><i class="icon-inbox"></i>&nbsp;Go to Inbox</a></li>
       	  </ul><!-- /topbar-requests -->
       	</li>
       	<li class="active"><a class="navbar-manage hash" href="manage.html">Manage</a></li>
       	<li><a class="navbar-themes hash" href="themes.html">Themes</a></li>
       	<li><a class="navbar-stats" href="stats.html">Stats</a></li>
       	<li><a class="navbar-support" href="support.html">Support</a></li>

      </ul>
      <a id="login_form" href="">Login</a>
      <!-- 
      <ul class="nav pull-right">
            <li><a id="login_form" href="#">Login</a></li>

      Using standard couchDB login until conflict is resolved
       	<li class="dropdown" id="navbar-user-toggle">
            <a href="#" id="login_form" data-toggle="dropdown" class="dropdown-toggle">Welcome,&nbsp;{ user-name }!</a>
       	   <ul id="user-menu" class="dropdown-menu">
       	    <li><a class="navbar-settings" href="../settings.html">Settings</a></li>
       	    <li><a class="navbar-account" href="../account.html">Account</a></li>
       	    <li><a class="navbar-billing" href="../billing.html">Billing</a></li>
       	    <li class="divider"></li>
       	    <li><a class="navbar-logout" href="#">Logout</a></li>
       	  </ul>
       	</li>
       -->
      </ul><!-- /pull-right -->
    </div>  <!--  /container  -->
  </div>  <!--  /navbar-inner  -->

  <div id="request-screen" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close">&times;</a>
      <h3>Request</h3>
    </div>
    <div class="modal-body">
      <h5>Credentials Page</h5>
      <code></code>
    </div>
  </div>

</nav>  <!--  /navbar  -->
