<script type="text/javascript">
$(document).ready(function() {
 
  //ACCORDION BUTTON ACTION 
  $('div#site-toggle-0').click(function() {
    $('div#site-info-0').slideToggle(500);
  });

  $('div#site-toggle-1').click(function() {
    $('div#site-info-1').slideToggle(500);
  });

  $('div#site-toggle-2').click(function() {
    $('div#site-info-2').slideToggle(500);
  });
 
  //HIDE THE DIVS ON PAGE LOAD  
  $("div#site-info-0").hide();
  $("div#site-info-1").hide();
  $("div#site-info-2").hide();
 
});
</script>

<section id="section-head" class="row">
  <nav id="dashnav" class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul id="dashboard-nav" class="nav">
          <li><p class="navbar-text"><i class="icon-comment icon-white"></i>&nbsp;&nbsp;10 Messages</p></li>
          <li><p class="navbar-text"><i class="icon-eye-open icon-white"></i>&nbsp;&nbsp;101 visitors</p></li>
          <li><p class="navbar-text billing-date">May 03, 2012</p></li>
          <li class="pull-right"><a href="account-settings.html"><i class="icon-user icon-white"></i>&nbsp;&nbsp;Account Settings</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <h1 class="section-header">Dashboard</h1>
  <a href="create.html" id="btn-create" class="btn-flat pull-right"><i class="icon-plus icon-white"></i>&nbsp;&nbsp;Create New Site</a>
</section><!-- /section-head -->

<section id="dashboard" class="span15">
  <div class="wrap-new-user">
    <div id="get-started" class="alert">
      <div class="get-started-header">
        <h2>Get Started</h2>
      </div> 
      <a href="" class="close" data-dismiss="alert">&times;</a>
      <div id="build" class="span3">
        <h3>Build A Mobile Site</h3>
      </div>
      <div id="theme" class="span3">
        <h3>Choose A Theme</h3>
      </div>
      <div id="preview" class="span3">
        <h3>Preview Your Site</h3>
      </div>
      <div id="publish" class="span3">
        <h3>Publish Your Mobile Site</h3>
      </div>
    </div><!-- /get-started -->
    <div id="no-sites" class="span13">
      <p>It looks like you have created any sites yet.</p>
      <a href="create.html"><h2>Create a site</h2></a>
    </div><!-- /no-sites -->
  </div>

  <div class="wrap-current-user">
    <div id="site-list" class="accordion">

      <!--  Use id="site-xx" for dynamic list generation  -->
      <div id="site-0" class="accordion-group">
        <div id="site-toggle-0" class="span9 accordion-btn">Discount Cabinet Designs
          <i class="icon-chevron-down icon-white"></i></div>
        <a class="btn-flat light-grey square" href="manage.html" rel="tooltip" title="Edit Site">
          <i class="icon-pencil"></i></a>
        <a class="btn-flat light-grey square" href="themes.html" rel="tooltip" title="Theme Site">
          <i class="icon-tint"></i></a>
        <a class="btn-flat light-grey square" href="site-settings.html" rel="tooltip" title="Site Settings">
          <i class="icon-cog"></i></a>
        <div id="site-info-0" class="accordion-content">
          <ul class="site-list-head">
            <li class="span4 site-name"><p>Site Name</p></li>
            <li class="span1 site-active"><p>Active?</p></li>
            <li class="span1 site-pages"><p>Pages</p></li>
            <li class="span3 site-visitors"><p>Visitors this Month</p></li>
          </ul>
        </div>
      </div><!-- /accordion-group -->

      <div id="site-1" class="accordion-group">
        <div id="site-toggle-1" class="span9 accordion-btn">Long Cane Flooring
          <i class="icon-chevron-down icon-white"></i></div>
        <a class="btn-flat light-grey" href="manage.html" rel="tooltip" title="Edit Site">
          <i class="icon-pencil"></i></a>
        <a class="btn-flat light-grey" href="themes.html" rel="tooltip" title="Theme Site">
          <i class="icon-tint"></i></a>
        <a class="btn-flat light-grey" href="site-settings.html" rel="tooltip" title="Site Settings">
          <i class="icon-cog"></i></a>
        <div id="site-info-1" class="accordion-content">Content 1 Long Example</div>
      </div><!-- /accordion-group -->

      <div id="site-2" class="accordion-group">
        <div id="site-toggle-2" class="span9 accordion-btn">Flash Gordon Electric
          <i class="icon-chevron-down icon-white"></i></div>
        <a class="btn-flat light-grey" href="manage.html" rel="tooltip" title="Edit Site">
          <i class="icon-pencil"></i></a>
        <a class="btn-flat light-grey" href="themes.html" rel="tooltip" title="Theme Site">
          <i class="icon-tint"></i></a>
        <a class="btn-flat light-grey" href="site-settings.html" rel="tooltip" title="Site Settings">
          <i class="icon-cog"></i></a>
        <div id="site-info-2" class="accordion-content">Content 1<br /><br /><br /><br /><br /><br /><br /><br />Long Example</div>
      </div><!-- /accordion-group -->

    </div><!-- /site-list -->
  </div><!-- /wrap-current-user -->
</section><!-- /dashboard -->