<!-- OPTIONAL PAGES -->
<section id="manager-page" class="span7">
  <h4>Optional Pages</h4>
  <!-- =====  OPTIONAL PAGES FORM  ===== -->
  <form name="optional-pages">
    <ul class="inputs-list">
      <li>
	<label>
          <input type="checkbox" name="request-service"/>
          <span>Request Service</span>
        </label>
      </li>
      <li>
	<label>
          <input type="checkbox" name="request-estimate"/>
          <span>Request Estimate</span>
        </label>
      </li>
      <li>
	<label>
          <input type="checkbox" name="request-consultation"/>
          <span>Request Consultation</span>
        </label>
      </li>
      <li>
	<label>
          <input type="checkbox" name="submit-survey"/>
          <span>Submit Survey</span>
        </label>
      </li>
      <li>
	<label>
          <input type="checkbox" name="submit-testimonial"/>
          <span>Submit Testimonial</span>
        </label>
      </li>
    </ul>
  </form><!-- /optionalPagesForm -->
</section>  <!--/span7 -->

{{ sidebar['optional-pages'] }}

