<section id="profile" class="span7">
  <!--  =====  COMPANY PROFILE  =====  -->
  <div id="company-profile">
    <h3>About Us</h3>
    <p class="hint-inline">Required fields denoted with a ' * '.</p>
    <form id="company-profile-form" name="company-profile">
      <div class="clearfix">
        <label>Company Name *</label>
        <div class="input">
          <input name="company-name" type="text" placeholder="Company Name" class="wizard-lg {validate: {required:true}}" />
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label>Slogan/Tagline</label>
        <div class="input">
          <input name="slogan" type="text" placeholder="Slogan" title="Remember to keep it simple. Try something like 'Great service, fast'."  class="wizard-lg" />
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label>Description</label>
        <div class="input">
          <textarea name="description" rows="5" placeholder="Here you can briefly describe your company."  class="wizard-lg {validation: {maxlength:200}}" ></textarea>
          <p class="hint-inline">Maximum 200 characters.</p>
        </div>
      </div>  <!-- /clearfix -->
    </form>
  </div><!-- /company-profile -->
  
  <!--  =====  CONTACT INFORMATION  =====  -->
  <div id="contact-information">
    <h3>Contact Information</h3>
    <p class="hint-inline">All fields required.</p>
    <form id="contact-information-form" name="contact-information">
      <div class="clearfix">
        <label>Street Address</label>
        <div class="input">
          <input name="street-address" type="text" placeholder="123 Peachtree Street" title="This is the address you used when you registered your business." class="wizard-lg {validate: {required:true}}"/>
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label>Suite Number</label>
        <div class="input">
          <input class="small" name="suite" type="text" placeholder="13B" />
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label>City</label>
        <div class="input">
          <input name="city" type="text" placeholder="Anytown" class="wizard-lg {validate: {required:true}}"/>
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label>State</label>
        <div class="input">
          <select class="wizard-lg" name="state">
            <option>AL</option>
            <option>AR</option>
            <option>DE</option>
            <option>FL</option>
            <option>GA</option>
          </select>
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label>Telephone</label>
        <div class="input">
          <input name="telephone" type="text" placeholder="(123) 555-6789" title="A mobile number is prefered. This way, interested parties can either call or send you a text message." class="small {validate: {required:true}}"/>
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label>Email</label>
        <div class="input">
          <input name="email" type="text" placeholder="you@yourcompany.com" title="Who is the primary contact?"  class="wizard-lg {validate: {required:true}}" />
        </div>
      </div><!-- /clearfix -->
    </form>
  </div><!-- /contact-information -->
</section>  <!--/profile span7 -->


{{ sidebar['profile'] }} 


