<!-- OPTIONAL PAGES -->
<section id="manager-page" class="span7">
  <img class="illustration" src="../images/phone-opt-estimate.png" alt="iPhone illustration: Request Estimate" />
  <form id="optional-pages-form" name="optional-pages" class="form-stacked" method="POST">
    <div class="clearfix">
      <label id="optionsRadio">Would you like to place a "Request Estimate" button on your mobile site's home page?</label>
      <div class="input">
  	<ul class="inputs-list">
  	  <li>
  	    <label><input type="radio" checked name="request-estimate" value="yes" /><span>Yes</span></label>
  	  </li>
  	  <li>
  	    <label><input type="radio" name="request-estimate" value="no" /><span>No</span></label>
  	  </li>
  	</ul>
      </div><!-- /input -->
    </div><!-- /clearfix -->
  </form>
</section>  <!--/span7 -->

{{ sidebar['request-estimate'] }}
