<!-- SERVICE AREAS -->
<section id="service-areas" class="span8">
    <!-- =====  SERVICE AREAS FORM  ===== -->
    <form id="service-areas-form" name="service-areas" class="form-stacked" method="POST">
      <ul class="listServiceArea">
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
      </ul>
      <a href="#" class="btn-flat blue do-clone-widget">Add Service Area</a>
    </form>
</section>  <!--/service-areas span8 -->

{{ sidebar['service-areas'] }}
