<!-- SERVICES -->
<section id="services" class="span7">
  <form id="services-form" name="services">
    <ul class="listServices">
      <li>
        <h5>Service/Product</h5>
        <div class="clearfix">
          <label>Type of Service</label>
          <div class="input">
            <input name="service-type" type="text" placeholder="e.g. Home A/V Setup" class="wizard-lg"/>
          </div>
        </div>
        <div class="clearfix">
          <label>Short Description</label>
          <div class="input">
            <textarea name="description" rows="3" class="wizard-lg" maxlength="120" placeholder="Short description of service."></textarea>
            <p class="hint-inline">Maximum of 200 characters.</p>
          </div>
        </div>
      </li>
      <li>
        <h5>Service/Product</h5>
        <div class="clearfix">
          <label>Type of Service</label>
          <div class="input">
            <input name="service-type" type="text" placeholder="e.g. Home A/V Setup" class="wizard-lg"/>
          </div>
        </div>
        <div class="clearfix">
          <label>Short Description</label>
          <div class="input">
            <textarea name="description" rows="3" class="wizard-lg" placeholder="Short description of service."></textarea>
            <p class="hint-inline">Maximum of 200 characters.</p>
          </div>
        </div>
      </li>
      <li>
        <h5>Service/Product</h5>
        <div class="clearfix">
          <label>Type of Service</label>
          <div class="input">
            <input name="service-type" type="text" placeholder="e.g. Home A/V Setup" class="wizard-lg"/>
          </div>
        </div>
        <div class="clearfix">
          <label>Short Description</label>
          <div class="input">
            <textarea name="description" rows="3" class="wizard-lg" placeholder="Short description of service."></textarea>
            <p class="hint-inline">Maximum of 200 characters.</p>
          </div>
        </div>
      </li>
      <li>
        <h5>Service/Product</h5>
        <div class="clearfix">
          <label>Type of Service</label>
          <div class="input">
            <input name="service-type" type="text" placeholder="e.g. Home A/V Setup" class="wizard-lg"/>
          </div>
        </div>
        <div class="clearfix">
          <label>Short Description</label>
          <div class="input">
            <textarea name="description" rows="3" class="wizard-lg" placeholder="Short description of service."></textarea>
            <p class="hint-inline">Maximum of 200 characters.</p>
          </div>
        </div>
      </li>
      <li>
        <h5>Service/Product</h5>
        <div class="clearfix">
          <label>Type of Service</label>
          <div class="input">
            <input class="wizard-lg" name="service-type" type="text" placeholder="e.g. Home A/V Setup"/>
          </div>
        </div>
        <div class="clearfix">
          <label>Short Description</label>
          <div class="input">
            <textarea name="description" rows="3" class="wizard-lg" placeholder="Short description of service."></textarea>
            <p class="hint-inline">Maximum of 200 characters.</p>
          </div>
        </div>
      </li>
    </ul>
    <a href="#" class="btn-flat blue do-clone-widget">Add Service</a>
  </form><!-- /services-form -->
</section>  <!--/services span8 -->

{{ sidebar['services'] }} 
