<!-- SPECIAL OFFERS -->
<section id="special-offers" class="span7">
    <!-- =====  SPECIALS FORM  ===== -->
    <form id="specia-offers-form" name="special-offers">
      <ul class="listSpecialOffers">
	<li>
	  <h5>Special</h5>
          <div class="clearfix">
            <label>Offer Name</label>
            <div class="input">
              <input class="span6" id="input" name="name" type="text" placeholder="Handy-Man Special"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Discount Amount</label>
            <div class="input">
              <input class="mini" name="discount-amount" type="text" placeholder="25"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="miniSelect">Discount Type</label>
            <div class="input">
              <select class="mini" name="discount-type">
	        <option>$</option>
	        <option>%</option>
              </select>
            </div>
          </div>
          <div class="clearfix">
            <label>Short Description</label>
            <div class="input">
              <textarea name="description" rows="3" class="span6" placeholder="Are there any special restrictions? When does the offer expire?"></textarea>
              <p class="hint-inline">Maximum 200 characters.</p>

            </div>
          </div>  <!-- /clearfix -->
        </li>
        <li>
	  <h5>Special</h5>
          <div class="clearfix">
            <label>Offer Name</label>
            <div class="input">
              <input class="span6" name="name" type="text" placeholder="Handy-Man Special" />
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Discount Amount</label>
            <div class="input">
              <input class="mini" name="discount-amount" type="text" placeholder="25"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="miniSelect">Discount Type</label>
            <div class="input">
              <select class="mini" name="discount-type">
	        <option>$</option>
	        <option>%</option>
              </select>
            </div>
          </div>
          <div class="clearfix">
            <label>Short Description</label>
            <div class="input">
              <textarea name="description" rows="3" class="span6" placeholder="Are there any special restrictions? When does the offer expire?"></textarea>
              <p class="hint-inline">Maximum 200 characters.</p>
            </div>
          </div>  <!-- /clearfix -->
        </li>
        <li>
	  <h5>Special</h5>
          <div class="clearfix">
            <label>Offer Name</label>
            <div class="input">
              <input class="span6" name="name" type="text" placeholder="Handy-Man Special"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Discount Amount</label>
            <div class="input">
              <input class="mini" name="discount-amount" type="text" placeholder="25"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="miniSelect">Discount Type</label>
            <div class="input">
              <select class="mini" name="discount-type">
	        <option>$</option>
	        <option>%</option>
              </select>
            </div>
          </div>
          <div class="clearfix">
            <label>Short Description</label>
            <div class="input">
              <textarea name="description" rows="3" class="span6" placeholder="Are there any special restrictions? When does the offer expire?"></textarea>
              <p class="hint-inline">Maximum 200 characters.</p>
            </div>
          </div>  <!-- /clearfix -->
        </li>
      </ul>
      <a href="#" class="btn-flat blue do-clone-widget">Add special offer</a>
    </form><!-- /special-offers-form -->
</section>  <!--/special-offers span7 -->

{{ sidebar['special-offers'] }}
