<section id="section-head" class="row">
  <nav id="statsnav" class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul id="stats-nav" class="nav">
          <li class="dropdown"><p class="navbar-text"></li>
        </ul>
      </div>
    </div>
  </nav>

  <h1 id="current-site" class="section-header">March 01 - April 01, 2012</h1>
  <div id="site-manager" class="span5">
    <ul id="site-manager-menu" class="nav pull-right">
      <li class="dropdown" data-dropdown="dropdown">
        <a href="#" id="site-toggle" class="dropdown-toggle website-name" style="font-size:1em;font-weight:600;"><i class="icon-chevron-down icon-white"></i>Currently Showing:</a>
        <ul id="site-manager-dropdown" class="dropdown-menu">
          <li class="divider"></li>
          <li><a class="link-site manage" href="dashboard.html"><i class="icon-home"></i>&nbsp;Dashboard</a></li>
        </ul><!-- /site-manager-dropdown -->
      </li>
    </ul><!-- /site-manager-menu -->
  </div><!-- /span5 -->
</section><!-- /section-head -->

<section id="stats" class="span15">
  <div class="wrap-hero-graph">
    <div class="hero-graph">
      <img src="http://placehold.it/980x200&text=graph" />
    </div><!-- /get-started -->
  </div><!-- /wrap-hero-graph -->

  <div class="wrap-stats">
    <ul class="thumbnails">
      <li class="panel-wrap span6">
        <div class="stats-block">
        <h1>101</h1>
        <p>unique visitors</p>
        </div><!-- /stats-block -->
        <div class="stats-toolbar">
          <a href="#" class="panel-stats-details hash"><i class="icon-search"></i>&nbsp;&nbsp;Detailed View</a>
        </div><!-- /stats-toolbar -->
      </li><!-- /panel-wrap -->

      <li class="panel-wrap span6">
        <div class="stats-block">
        <h1>101</h1>
        <p>unique visitors</p>
        </div><!-- /stats-block -->
        <div class="stats-toolbar">
          <a href="#" class="panel-stats-details hash"><i class="icon-search"></i>&nbsp;&nbsp;Detailed View</a>
        </div><!-- /stats-toolbar -->
      </li><!-- /panel-wrap -->
   </ul>
  </div><!-- /wrap-stats -->
</section><!-- /stats -->

