<section id="section-head" class="row">
  <h1 class="section-header">Manage&nbsp;:&nbsp;<span class="current">Submit Survey</span></h1>
  <div id="site-manager" class="span4">
    <ul id="site-manager-menu" class="nav pull-right">
      <li class="dropdown" data-dropdown="dropdown">
        <a href="#" id="site-toggle" class="dropdown-toggle website-name" style="font-size:1em;font-weight:600;">Currently Editing:<span class="caret"></span></a>
        <ul id="site-manager-dropdown" class="dropdown-menu">
          <li><a class="link-site manage" href="create.html"><i class="icon-plus"></i>&nbsp;Add Site</a></li>
          <li><a class="link-site add" href="sites.html"><i class="icon-th-large"></i>&nbsp;Manage Sites</a></li>
          <li class="divider"></li>
          <li><a class="link-site send" href="#"><i class="icon-share-alt"></i>&nbsp;Send to Phone</a></li>
          <li><a class="link-site generate" href="#"><i class="icon-qrcode"></i>&nbsp;View QR code</a></li>
          <li><a class="link-site preview" href="#"><i class="icon-eye-open"></i>&nbsp;Preview in Simulator</a></li>
          </ul><!-- /site-manager-dropdown -->
        </li>
    </ul><!-- /site-manager-menu -->
  </div><!-- /span4 -->
</section><!-- /section-head -->

<!-- OPTIONAL PAGES -->
<section id="optional-pages" class="span8">
  <form id="optional-pages-form" name="optional-pages" class="form-stacked" method="POST">
    <div class="clearfix">
      <label id="optionsRadio">Would you like to place a "Submit Survey" button on your mobile site's home page?</label>
      <div class="input">
  	<ul class="inputs-list">
  	  <li>
  	    <label><input type="radio" checked name="submit-survey" value="yes" /><span>Yes</span></label>
  	  </li>
  	  <li>
  	    <label><input type="radio" name="submit-survey" value="no" /><span>No</span></label>
  	  </li>
  	</ul>
      </div><!-- /input -->
    </div><!-- /clearfix -->
  </form>
</section>  <!--/span8 -->

{{ sidebar['submit-survey'] }}
