<!-- TESTIMONIALS -->
<section id="testimonials" class="span7">
    <!-- =====  TESTIMONIALS FORM  ===== -->
    <form id="testimonials-form" name="testimonials">
      <ul class="listFeedback">
	<li>
	  <h5>Satisfied Customer</h5>
          <div class="clearfix">
            <label>Who said it?</label>
            <div class="input">
              <input class="span6" name="name" type="text" placeholder="John Doe - Atlanta,GA - XYZ Company"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>What did they say?</label>
            <div class="input">
              <textarea name="description" rows="5" class="span6" placeholder="Short testimonial. Maximum 200 characters."></textarea>
            </div>
          </div>  <!-- /clearfix -->
        </li>
        <li>
	  <h5>Satisfied Customer</h5>
          <div class="clearfix">
            <label>Who said it?</label>
            <div class="input">
              <input class="span6" name="name" type="text" placeholder="John Doe - Atlanta,GA - XYZ Company"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>What did they say?</label>
            <div class="input">
              <textarea name="description" rows="5" class="span6" placeholder="Short testimonial. Maximum 200 characters."></textarea>
            </div>
          </div>  <!-- /clearfix -->
        </li>
        <li>
	  <h5>Satisfied Customer</h5>
          <div class="clearfix">
            <label>Who said it?</label>
            <div class="input">
              <input class="span6" name="name" type="text" placeholder="John Doe - Atlanta,GA - XYZ Company"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>What did they say?</label>
            <div class="input">
              <textarea name="description" rows="5" class="span6" placeholder="Short testimonial. Maximum 200 characters."></textarea>
            </div>
          </div>  <!-- /clearfix -->
        </li>
      </ul>
      <a href="#" class="btn-flat blue do-clone-widget">Add testimonial</a>
    </form><!-- /testimonials-form -->
</section>  <!--/testimonials span7 -->
{{ sidebar['testimonials'] }}

