<!-- THEMES -->
<section id="themes" class="span12" data-main-nav="navbar-themes">
    <div id="theme-preview-wrapper" class="span6">
      <div id="emulator">
        <iframe id="emulator-view-1" src=""></iframe>
      </div>
    </div>
    <!-- THEME PICKER -->
    <div id="theme-picker-wrapper" class="span5">
      <div class="sidebar row">
        <div class="page-tools-wide">
          <p>Preview one of our finely crafted mobile websites! Using the viewer to the left, you can interact with your site and get an idea for how it will look and behve on an actual smartphone.</p>
          <p>Once you've chosen a theme you like, click "Apply" to save your changes.</p>
          <div class="btn-group-tools">
            <a href="#prevpub-pane" class="btn-flat green sidebar do-save-page do-next"><i class="icon-arrow-right icon-white"></i>&nbsp;&nbsp;Save &amp; Next: Preview &amp; Publish</a>
          </div><!-- /btn-group-tools -->
        </div><!-- /page-tools -->
      </div><!--/sidebar -->

      <form name="theme">
        <input type="hidden" name="name"/>
      </form>

      <ul id="theme-picker" class="thumbnails">
        <li class="span2 active">
          <img src="../images/black_sm.png"/>
          <div class="btnContainer">
            <a href="#" title="Black" rel="gallery" class="btn-flat dark-grey do-preview-theme"><i class="icon-search icon-white"></i></a>
            <a href="#" title="Black" rel="gallery" class="btn-flat blue do-select-theme"><i class="icon-ok icon-white"></i></a>
          </div>
        </li>
        <li class="span2">
          <img src="../images/white_sm.png"/>
          <div class="btnContainer">
            <a href="#" title="Black" rel="gallery" class="btn-flat dark-grey do-preview-theme"><i class="icon-search icon-white"></i></a>
            <a href="#" title="Black" rel="gallery" class="btn-flat blue do-select-theme"><i class="icon-ok icon-white"></i></a>
          </div>
        </li>
        <li class="span2">
          <img src="../images/blueandgray_sm.png"/>
          <div class="btnContainer">
            <a href="#" title="Black" rel="gallery" class="btn-flat dark-grey do-preview-theme"><i class="icon-search icon-white"></i></a>
            <a href="#" title="Black" rel="gallery" class="btn-flat blue do-select-theme"><i class="icon-ok icon-white"></i></a>
          </div>
        </li>
        <li class="span2">
          <img src="../images/grayandwhite_sm.png"/>
          <div class="btnContainer">
            <a href="#" title="Black" rel="gallery" class="btn-flat dark-grey do-preview-theme"><i class="icon-search icon-white"></i></a>
            <a href="#" title="Black" rel="gallery" class="btn-flat blue do-select-theme"><i class="icon-ok icon-white"></i></a>
          </div>
        </li>
        <li class="span2">
          <img src="../images/yellow_sm.png"/>
          <div class="btnContainer">
            <a href="#" title="Black" rel="gallery" class="btn-flat dark-grey do-preview-theme"><i class="icon-search icon-white"></i></a>
            <a href="#" title="Black" rel="gallery" class="btn-flat blue do-select-theme"><i class="icon-ok icon-white"></i></a>
          </div>
        </li>
      </ul>      
    </div><!-- /theme-picker-wrapper -->
  <!-- Slider Controls
    <a href="#" id="go-prev" class="btn-flat blue pull-left">&nbsp;&larr;&nbsp;Previous</a>
    <a href="#" id="go-next" class="btn-flat blue pull-right">&nbsp;&rarr;&nbsp;Next</a>
  -->
</section>  <!-- /template-picker -->
