<div id="wizard-nav" class="span15">
  <ul class="tabs" data-tabs="">
    <li class="active"><a href="#profile-pane">1.&nbsp;Company Profile</a></li>
    <li><a href="#upload-photos-pane">2.&nbsp;Upload Photos</a></li>
    <li><a href="#services-pane">3.&nbsp;Services/Products</a></li>
    <li><a href="#service-area-pane">4.&nbsp;Service Area</a></li>
    <li><a href="#optional-pages-pane">5.&nbsp;Optional Pages</a></li>
    <li><a href="#choose-theme-pane">6.&nbsp;Choose a Theme</a></li>
    <li><a href="#prevpub-pane">7.&nbsp;Preview &amp; Publish</a></li>
  </ul>
</div>

<div id="wizard" class="tab-content">

  <div class="tab-pane active" id="profile-pane">
    {{ processTemplate(context['profile']) }}
  </div>  <!-- /tab-pane -->
  
  <div class="tab-pane" id="upload-photos-pane">
    {{ processTemplate(context['manage-photos']) }} 
  </div>

  <div class="tab-pane" id="services-pane">
    {{ processTemplate(context['services']) }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="service-area-pane">
    {{ processTemplate(context['service-areas']) }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="optional-pages-pane">
    {{ processTemplate(context['optional-pages']) }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="choose-theme-pane">
    {{ processTemplate(context['choose-theme']) }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="prevpub-pane">
    <div id="preview-publish" class="span15">
      <h4>Preview &amp; Publish</h4>
      <div id="instructions" class="span5">
        <h5>Your website is ready to go!</h5>
        <p>You're now ready to publish your mobile site. To the right is a preview of your site. Be sure to play around with it and double check your information.</p>
        <br />
        <input id="publish" class="btn-flat green span5" type="submit" value="Publish &amp; Generate QR Code"/>
        <br />
        <img src="http://placehold.it/280&amp;text=YOUR+QR+CODE+HERE" alt="QR code placeholder" />
      </div>
      
      <div id="emulator-wrap" class="span8 offset5">
        <div id="emulator">
          <iframe id="emulator-view" src=""></iframe>
        </div>
      </div>
    </div>  <!--/preview-publish -->
  </div>  <!-- /tab-pane -->
</div>  <!-- /tab-content -->
