<div id="wizard-nav" class="row">
  <ul class="tabs" data-tabs="">
    <li class="active"><a href="#profile-pane">1.&nbsp;Company Profile</a></li>
    <li><a href="#upload-photos-pane">2.&nbsp;Upload Photos</a></li>
    <li><a href="#services-pane">3.&nbsp;Services/Products</a></li>
    <li><a href="#service-area-pane">4.&nbsp;Service Area</a></li>
    <li><a href="#optional-pages-pane">5.&nbsp;Optional Pages</a></li>
    <li><a href="#choose-theme-pane">6.&nbsp;Choose a Theme</a></li>
    <li><a href="#prevpub-pane">7.&nbsp;Preview &amp; Publish</a></li>
  </ul>
</div>

<div id="wizard" class="tab-content">

  <div class="tab-pane active" id="profile-pane">
    <hgroup>
      <h2 class="step">1</h2>
      <h2>Contact Information</h2>
    </hgroup>
    {{ processTemplate(context['profile']) }}
  </div>  <!-- /tab-pane -->
  
  <div class="tab-pane" id="upload-photos-pane">
    <hgroup>
      <h2 class="step">2</h2>
      <h2>Upload Photos</h2>
    </hgroup>
    {{ processTemplate(context['manage-photos']) }} 
  </div>

  <div class="tab-pane" id="services-pane">
    <hgroup>
      <h2 class="step">3</h2>
      <h2>Services &amp; Products</h2>
    </hgroup>
    {{ processTemplate(context['services']) }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="service-area-pane">
    <hgroup>
      <h2 class="step">4</h2>
      <h2>Service Areas</h2>
    </hgroup>
    {{ processTemplate(context['service-areas']) }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="optional-pages-pane">
    <hgroup>
      <h2 class="step">5</h2>
      <h2>Optional Pages</h2>
    </hgroup>
    {{ processTemplate(context['optional-pages']) }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="choose-theme-pane">
    <hgroup>
      <h2 class="step">6</h2>
      <h2>Choose A Theme</h2>
    </hgroup>
    {{ processTemplate(context['choose-theme']) }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="prevpub-pane">
    <div id="preview-publish" class="span12">
      <hgroup>
        <h2 class="step">7</h2>
        <h2>Preview &amp; Publish</h2>
      </hgroup>
      <div id="emulator-wrap" class="span7">
        <div id="emulator">
          <iframe id="emulator-view-0" src=""></iframe>
        </div>
      </div><!--/emulator -->

      <div class="sidebar span3">
        <div class="page-tools span3">
          <h3>Your website is ready to go!</h3>
          <p>You're now ready to publish your mobile site. To the right is a preview of your site. Be sure to play around with it and double check your information.</p>
          <br />
          <input id="publish" class="btn-flat green span4" type="submit" value="Publish &amp; Generate QR Code"/>
          <br />
          <img src="http://placehold.it/280&amp;text=YOUR+QR+CODE+HERE" alt="QR code placeholder" />
        </div>
      </div><!--/sidebar -->
    </div>  <!--/preview-publish -->
  </div>  <!-- /tab-pane -->
</div>  <!-- /tab-content -->
