<nav class="navbar navbar-fixed-top">  <!--  navbar  -->
  <div class="navbar-inner">
    <div class="container">
      <ul id="main-nav" class="nav">
       	<li class="dropdown" id="navbar-requests-toggle">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            <span class="requests-indicator">3</span>Requests
            </a>
       	  <ul id="requests-menu" class="dropdown-menu">
       	    <li><a class="navbar-testimonial" href="#"><b>Testimonial Added</b> by Jenny G.</a></li>
       	    <li><a class="navbar-service" href="#"><b>Service Request</b> from Michael A.</a></li>
       	    <li><a class="navbar-service" href="#"><b>Service Request</b> from Dee G.</a></li>
       	    <li><a class="navbar-estimate" href="#"><b>Estimate Request</b> from Samuel G.</a></li>
                <li class="divider"></li>
       	    <li><a href="inbox.html" class="btnInbox">Go to Inbox&nbsp;&nbsp;&rarr;</a></li>
       	  </ul><!-- /topbar-requests -->
       	</li>
       	<li class="active"><a class="navbar-manage" href="manage.html">Manage</a></li>
       	<li><a class="navbar-themes" href="themes.html">Themes</a></li>
       	<li><a class="navbar-stats" href="stats.html">Stats</a></li>
       	<li><a class="navbar-support" href="support.html">Support</a></li>

      </ul>
      <!-- <a id="login_form" href="#">Login</a> -->
      <ul class="nav pull-right">
       	<li class="dropdown" id="navbar-user-toggle">
          <a id="login_form" href="#">Login</a>
       	   <ul id="user-menu" class="dropdown-menu">
       	    <li><a class="navbar-settings" href="../settings.html">Settings</a></li>
       	    <li><a class="navbar-account" href="../account.html">Account</a></li>
       	    <li><a class="navbar-billing" href="../billing.html">Billing</a></li>
       	    <li class="divider"></li>
       	    <li><a class="navbar-logout" href="#">Logout</a></li>
       	  </ul>
       	</li>
      </ul><!-- /pull-right -->
    </div>  <!--  /container  -->
  </div>  <!--  /navbar-inner  -->
</nav>  <!--  /navbar  -->
