<section id="section-head" class="span15">
  <h1 class="section-header">Create A Mobile Site</h1>
</section><!-- /section-head -->

<section id="create-website" class="span15">
  <form id="create-website-form">
    <fieldset id="website-name-form" class="well span6">
      <h3>Site Name</h3>
      <div class="input">
        <span class="help-block">First, you need to pick a name for your website. Choose something that is short and easy to remember.</span>
        <input type="text" id="websiteName" name="websiteName"  class="{validate: {required: true, uniqueWebsiteName: true} }"/>
      </div>
    </fieldset><!-- /website-name-form -->
    <div class="alert-message error hide" id="name-alert">
      <a class="close" href="#">×</a>
      <strong>Website name</strong>
      <p>Please give your website a name!</p>
    </div>
    
    <fieldset id="website-url-form" class="well span6">
      <h3>Site Address</h3>
      <div class="input">
        <span class="help-block">Now, choose a URL that will take visitors to your mobile website. Remember: short and sweet.</span>
      	<input type="text" id="website-url" name="website-url"  class="{validate: {required: true, uniqueWebsiteName: true} }"/>
        <span class="help-block">http://www.scanshowsell.com/m/yourwebsitename</span>
      </div>
    </fieldset><!-- /website-url-form -->
    <div class="alert-message error hide" id="url-alert">
      <a class="close" href="#">×</a>
      <strong>Website name</strong>
      <p>Please give your website an address!</p>
    </div>
    <a id="new-btn" class="btn-flat green medium pull-right" href="wizard.html">Create New Site&nbsp;&nbsp;<i class="icon-arrow-right icon-white"></i></a>
  </form>
</section><!-- /span15 -->
