<!-- CREDENTIALS -->
<div id="credentials" class="span10">
  <!-- CREDENTIALS PANEL -->
  <div>
    <!-- =====  CREDENTIALS FORM  ===== -->
    <form id="credentials-form" name="credentials">
      <ul class="listCredentials">
	<li>
	  <h5>Credential 1</h5>
	  <div class="clearfix">
            <label>Credential Name</label>
            <div class="input">
              <input class="span6" name="AccredName" type="text" placeholder="Guild Master"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Organization/Company</label>
            <div class="input">
              <input class="span6" name="OrgName" type="text" placeholder="Georgia Electricians Guild"/>
            </div>
          </div><!-- /clearfix -->
        </li>
        <li>
	  <h5>Credential 2</h5>
	  <div class="clearfix">
            <label>Credential Name</label>
            <div class="input">
              <input class="span6" name="AccredName" type="text" placeholder="Guild Master"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Organization/Company</label>
            <div class="input">
              <input class="span6" name="OrgName" type="text" placeholder="Georgia Electricians Guild"/>
            </div>
          </div><!-- /clearfix -->
        </li>
        <li>
	  <h5>Credential 3</h5>
	  <div class="clearfix">
            <label>Credential Name</label>
            <div class="input">
              <input class="span6" name="AccredName" type="text" placeholder="Guild Master"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Organization/Company</label>
            <div class="input">
              <input class="span6" name="OrgName" type="text" placeholder="Georgia Electricians Guild"/>
            </div>
          </div><!-- /clearfix -->
        </li>
      </ul>
    </form><!-- /credentialsForm -->
  </div><!-- /credentials-panel -->
</div>  <!--/span10 -->

<div class="sidebar span6">
    <div class="alert-message block-message info">
	    <a class="close" href="#">&times;</a>
	    <img class="pull-left" src="images/icn-page-credentials.png" alt="Add Page: Credentials" />
    	<h5>Show customers you're a professional.</h5>
    	<p>Show your:</p>
    	<ul>
    	  <li><p>Licenses</p></li>
    	  <li><p>Professional Organizations</p></li>
    	  <li><p>Certifications</p></li>
    	  <li><p>Accreditations</p></li>
    	</ul>
    </div>
    <div class="page-tools">
	    <h5>Page Tools</h5>
	    <img src="images/mobile-prev-sm.png" alt="iPhone Screen Preview" />
	    <p class="page-info"><strong>Last Edited:&nbsp;&nbsp;</strong>April 16, 2012</p>
	    <p class="page-info"><strong>Status:&nbsp;&nbsp;</strong><span class="page-status online">Online</span></p>
	    <p class="page-info">You can view an interactive preview of this page in your desktop's browser by clicking the 'Preview Page' button below.</p>
	    <div id="modal-screen" class="modal hide fade">
    		<div class="modal-header">
    			<a href="#" class="close">&times;</a>
    			<h3>Preview - My Mobile Website</h3>
    		</div>
    		<div class="modal-body">
    			<img src="images/mobile-service.png" alt="iPhone Screen Preview" />
    			<h5>Credentials Page</h5>
    			<p>This is an interactive preview of your credentials page. Scroll up and down the page and play with the various elements to get a general idea of how they will look and work on a smartphone.</p>
    		</div>
    	</div>
    	<div class="btn-group">
      	  <a class="btn-flat blue sidebar" data-controls-modal="modal-screen" data-backdrop="true" data-keyboard="true">Preview Page</a>
	      <a href="#" class="btn-flat green sidebar">Save Page</a></p>
	      <a href="manage.html" class="btn-flat dark-grey sidebar">&larr;&nbsp;&nbsp;Back to Manager</a>
	    </div><!-- /btn-group -->
    </div><!-- /page-tools -->
  </div><!-- /sidebar -->
