<!-- CREDENTIALS -->
<div id="credentials" class="span8">
    <!-- =====  CREDENTIALS FORM  ===== -->
    <form id="credentials-form" name="credentials">
      <ul class="listCredentials">
	<li>
	  <h5>Credential</h5>
	  <div class="clearfix">
            <label>Credential Name</label>
            <div class="input">
              <input class="span6" name="AccredName" type="text" placeholder="Guild Master"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Organization/Company</label>
            <div class="input">
              <input class="span6" name="OrgName" type="text" placeholder="Georgia Electricians Guild"/>
            </div>
          </div><!-- /clearfix -->
        </li>
        <li>
	  <h5>Credential</h5>
	  <div class="clearfix">
            <label>Credential Name</label>
            <div class="input">
              <input class="span6" name="AccredName" type="text" placeholder="Guild Master"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Organization/Company</label>
            <div class="input">
              <input class="span6" name="OrgName" type="text" placeholder="Georgia Electricians Guild"/>
            </div>
          </div><!-- /clearfix -->
        </li>
        <li>
	  <h5>Credential</h5>
	  <div class="clearfix">
            <label>Credential Name</label>
            <div class="input">
              <input class="span6" name="AccredName" type="text" placeholder="Guild Master"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Organization/Company</label>
            <div class="input">
              <input class="span6" name="OrgName" type="text" placeholder="Georgia Electricians Guild"/>
            </div>
          </div><!-- /clearfix -->
        </li>
      </ul>
      <a href="#" class="btn-flat blue do-clone-widget">Add credentials</a>
    </form><!-- /credentials-form -->
</div>  <!--/span8 -->

{{ template[sidebar_mode]['credentials'] }} 
