<section id="section-head" class="row">
  <h1 class="section-header">Manage&nbsp;:&nbsp;<span class="current">Credentials</span></h1>
  <div id="site-manager" class="span4">
    <ul id="site-manager-menu" class="nav pull-right">
      <li class="dropdown" data-dropdown="dropdown">
        <a href="#" id="site-toggle" class="dropdown-toggle website-name" style="font-size:1em;font-weight:600;">Currently Editing:<span class="caret"></span></a>
        <ul id="site-manager-dropdown" class="dropdown-menu">
          <li><a class="link-site manage" href="create.html"><i class="icon-plus"></i>&nbsp;Add Site</a></li>
          <li><a class="link-site add" href="sites.html"><i class="icon-th-large"></i>&nbsp;Manage Sites</a></li>
          <li class="divider"></li>
          <li><a class="link-site send" href="#"><i class="icon-share-alt"></i>&nbsp;Send to Phone</a></li>
          <li><a class="link-site generate" href="#"><i class="icon-qrcode"></i>&nbsp;View QR code</a></li>
          <li><a class="link-site preview" href="#"><i class="icon-eye-open"></i>&nbsp;Preview in Simulator</a></li>
          </ul><!-- /site-manager-dropdown -->
        </li>
    </ul><!-- /site-manager-menu -->
  </div><!-- /span4 -->
</section><!-- /section-head -->

<!-- CREDENTIALS -->
<section id="credentials" class="span8">
    <!-- =====  CREDENTIALS FORM  ===== -->
    <form id="credentials-form" name="credentials">
      <ul class="listCredentials">
	<li>
	  <h5>Credential</h5>
	  <div class="clearfix">
            <label>Credential Name</label>
            <div class="input">
              <input class="span6" name="AccredName" type="text" placeholder="Guild Master"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Organization/Company</label>
            <div class="input">
              <input class="span6" name="OrgName" type="text" placeholder="Georgia Electricians Guild"/>
            </div>
          </div><!-- /clearfix -->
        </li>
        <li>
	  <h5>Credential</h5>
	  <div class="clearfix">
            <label>Credential Name</label>
            <div class="input">
              <input class="span6" name="AccredName" type="text" placeholder="Guild Master"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Organization/Company</label>
            <div class="input">
              <input class="span6" name="OrgName" type="text" placeholder="Georgia Electricians Guild"/>
            </div>
          </div><!-- /clearfix -->
        </li>
        <li>
	  <h5>Credential</h5>
	  <div class="clearfix">
            <label>Credential Name</label>
            <div class="input">
              <input class="span6" name="AccredName" type="text" placeholder="Guild Master"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Organization/Company</label>
            <div class="input">
              <input class="span6" name="OrgName" type="text" placeholder="Georgia Electricians Guild"/>
            </div>
          </div><!-- /clearfix -->
        </li>
      </ul>
      <a href="#" class="btn-flat blue do-clone-widget">Add credentials</a>
    </form><!-- /credentials-form -->
</section>  <!--/span8 -->

{{ template[sidebar_mode]['credentials'] }} 
