<section id="section-head" class="row">
  <nav class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul id="dashboard-nav" class="nav">
          <li><p class="navbar-text">10 Messages</p></li>
          <li><p class="navbar-text">101 visistors</p></li>
          <li><p class="navbar-text">May 03, 2012</p></li>
          <li class="pull-right"><a href="account-settings.html"><i class="icon-user icon-white"></i>&nbsp;&nbsp;Account Settings</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <h1 class="section-header">Dashboard</h1>
  <div id="site-manager" class="span5">
    <ul id="site-manager-menu" class="nav pull-right">
      <li class="dropdown" data-dropdown="dropdown">
        <a href="#" id="site-toggle" class="dropdown-toggle website-name" style="font-size:1em;font-weight:600;">Currently Editing:<span class="caret"></span></a>
        <ul id="site-manager-dropdown" class="dropdown-menu">
          <li class="divider"></li>
          <li><a class="link-site manage" href="create.html"><i class="icon-plus"></i>&nbsp;Create New Site</a></li>
          <li><a class="link-site add" href="sites.html"><i class="icon-th-large"></i>&nbsp;Manage Sites</a></li>
          </ul><!-- /site-manager-dropdown -->
        </li>
    </ul><!-- /site-manager-menu -->
  </div><!-- /span5 -->
</section><!-- /section-head -->

<section id="dashboard" class="span15">
  <ul class="site-list">
    <li class="panel-wrap span12">
          <a href="manage.html" class="hash"><h4>Discount Cabinet Designs</h4></a>
    </li><!-- /panel-wrap -->
  </ul>
</section><!-- /dashboard -->