<link rel="stylesheet" href="../css/jquery.fileupload-ui.css">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->  

<section id="section-head" class="row">
  <h1 class="section-header">Manage&nbsp;:&nbsp;<span class="current">Photos</span></h1>
  <div id="site-manager" class="span4">
    <ul id="site-manager-menu" class="nav pull-right">
      <li class="dropdown" data-dropdown="dropdown">
        <a href="#" id="site-toggle" class="dropdown-toggle website-name" style="font-size:1em;font-weight:600;">Currently Editing:<span class="caret"></span></a>
        <ul id="site-manager-dropdown" class="dropdown-menu">
          <li><a class="link-site manage" href="create.html"><i class="icon-plus"></i>&nbsp;Add Site</a></li>
          <li><a class="link-site add" href="sites.html"><i class="icon-th-large"></i>&nbsp;Manage Sites</a></li>
          <li class="divider"></li>
          <li><a class="link-site send" href="#"><i class="icon-share-alt"></i>&nbsp;Send to Phone</a></li>
          <li><a class="link-site generate" href="#"><i class="icon-qrcode"></i>&nbsp;View/Generate QR code</a></li>
          <li><a class="link-site preview" href="#"><i class="icon-eye-open"></i>&nbsp;Preview Phone Simulator</a></li>
          </ul><!-- /site-manager-dropdown -->
        </li>
    </ul><!-- /site-manager-menu -->
  </div><!-- /span4 -->
</section><!-- /section-head -->

<!-- MANAGE PICTURES -->
<section id="upload-photo-wrap" class="span8">
  <!--  =====  UPLOAD BUTTON BAR  =====  -->
  <form id="fileupload" method="POST" enctype="multipart/form-data">
    <div class="fileupload-buttonbar">
      <span class="btn-flat green fileinput-button">
        <span><i class="icon-picture icon-white"></i>&nbsp;&nbsp;Add Photos</span>
        <input type="file" name="_attachments" multiple="multiple"/>
      </span>
      <a href="#" class="btn-flat blue start"><i class="icon-arrow-up icon-white"></i>&nbsp;&nbsp;Upload All</a>
    </div>
    <br>
    <div class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></div>
  </form>
</section>  <!-- /upload-photo-wrap span8 -->

{{ template[sidebar_mode]['manage-photos'] }}

<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>
<script id="template-upload" type="text/html">
  <% _.each(files, function(file, idx) { %>
  <div class="photo-panel">
    <div class="thumb-wrap">
      <a href="<%=file.url%>" title="<%=file.name%>" rel="gallery"><img class="thumbnail" src="<%= file.thumbnail_url %>"/></a>
    </div>  <!-- /thumb-wrap -->
    <div class="photo-form">        
      <fieldset>
        <div class="clearfix">
    	  <label for="caption">File name:</label>
          <p class="file-name"><%= file.name %></p>
          <input type="hidden" name="file-name" value="<%= file.name %>" />
          <p class="file-size"> <%= formatFileSize(file.size) %></p>
    	  <label for="caption">Photo caption</label>
      	  <div class="input">
            <input type="text" name="caption" class="span5"/>
          </div>
          <div class="progress progress-success progress-striped active">
            <div class="bar" style="width:0%;"></div>
          </div>
        </div><!-- /clearfix -->
        <div class="photo-buttons" >
      	  <a href="#" class="btn-flat red small delete">Remove photo</a>
          <a href="#" class="btn-flat blue"><i class="icon-upload icon-white"> Start</i></a>
        </div><!-- /photo-buttons -->
        <!-- <div class="progressbar"><div style="width:0%;"></div></div> -->
      </fieldset>
    </div>  <!-- /photo-form -->
  </div>  <!-- /photo-panel -->
  <% }) %>
</script>

<script id="template-download" type="text/html">
  <% _.each(files, function(file, idx) { %>
  <div class="photo-panel">
    <div class="thumb-wrap">
      <img class="thumbnail" src="<%= file.thumbnail_url %>" style="max-width:210px;max-height:150px;"/>
    </div>  <!-- /thumb-wrap -->
    <div class="photo-form">
      <fieldset>
        <div class="clearfix">
    	  <label for="caption">File name:</label>
          <p class="file-name"><%= file.name %></p>
          <input type="hidden" name="file-name" value="<%= file.name %>" />
          <p class="file-size"> <%= formatFileSize(file.size) %></p>
    	  <label for="caption">Photo caption</label>
      	  <div class="input">
            <input type="text" name="caption" class="span5 valid"/>
          </div>
          <label for="title-picture">Title picture</label>
      	  <div class="input">
            <input type="radio" name="title-picture"/>
          </div>
        </div><!-- /clearfix -->
        <div class="photo-buttons" >
      	  <a href="#" class="btn-flat red small delete">Remove photo</a>
        </div><!-- /photo-buttons -->
        <!-- <div class="progressbar"><div style="width:0%;"></div></div> -->
      </fieldset>
    </div>  <!-- /photo-form -->
  </div>  <!-- /photo-panel -->

  <% }) %>
</script>
<!-- The Templates and Load Image plugins are included for the FileUpload user interface -->
<script src="../js/load-image.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="../js/jquery.iframe-transport.js"></script>
<script src="../js/jquery.fileupload.js"></script>
<script src="../js/jquery.fileupload-ui.js"></script>
<script src="../js/fileupload-application.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]><script src="cors/jquery.xdr-transport.js"></script><![endif]-->
