<link rel="stylesheet" href="../css/jquery.fileupload-ui.css">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->  

<!-- MANAGE PICTURES -->
<div id="upload-photo-wrap" class="span8">
  <!--  =====  UPLOAD BUTTON BAR  =====  -->
  <form id="fileupload" method="POST" enctype="multipart/form-data">
    <div class="fileupload-buttonbar">
      <span class="btn-flat green fileinput-button">
        <span>Add files...</span>
        <input type="file" name="_attachments" multiple="multiple"/>
      </span>
      <a href="#" class="btn-flat blue start">Upload all</a>
    </div>
    <br>
    <div class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></div>
  </form>
</div>  <!-- /upload-photo-wrap span7 -->

<div class="sidebar span5">
  <div class="alert-block alert-info well">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <h5 class="alert-heading">Dazzle prospects with your work.</h5>
    <p>Talk is cheap. Show your potential clients that you know your stuff by uploading a few photos of your work.</p>
  </div>
  <div class="page-tools">
    <h5>Page Tools</h5>
    <img src="../images/mobile-prev-sm.png" alt="iPhone Screen Preview" />
    <p class="page-info"><strong>Last Edited:&nbsp;&nbsp;</strong>April 16, 2012</p>
    <p class="page-info"><strong>Status:&nbsp;&nbsp;</strong><span class="page-status online">Online</span></p>
    <p class="page-info">You can view an interactive preview of this page in your desktop's browser by clicking the 'Preview Page' button below.</p>
    <div id="modal-screen" class="modal hide fade">
      <div class="modal-header">
    	<a href="#" class="close">&times;</a>
    	<h3>Preview - My Mobile Website</h3>
      </div>
      <div class="modal-body">
    	<img src="../images/mobile-photos.png" alt="iPhone Screen Preview" />
    	<h5>Photo Gallery</h5>
    	<p>This is an interactive preview of your photo gallery	. Scroll up and down the page and play with the various elements to get a general idea of how they will look and work on a smartphone.</p>
      </div>
    </div>
    <div class="btn-group-tools">
      <a class="btn-flat blue square" data-controls-modal="modal-screen" data-backdrop="true" data-keyboard="true"><i class="icon-search icon-white"></i></a>
      <a href="#" class="btn-flat blue large do-save-page"><i class="icon-ok icon-white"></i> Save Page</a>
    </div>
    <div class="btn-group">
      <a href="manage.html" class="btn-flat sidebar"><i class="icon-home"></i> Back to Manager</a>
    </div><!-- /btn-group -->
  </div>
</div><!-- /sidebar -->


<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>
<script id="template-upload" type="text/html">
  <% _.each(files, function(file, idx) { %>
  <div class="photo-panel">
    <div class="thumb-wrap">
      <a href="<%=file.url%>" title="<%=file.name%>" rel="gallery"><img class="thumbnail" src="<%= file.thumbnail_url %>"/></a>
    </div>  <!-- /thumb-wrap -->
    <div class="photo-form">        
      <fieldset>
        <div class="clearfix">
    	  <label for="caption">File name:</label>
          <p class="file-name"><%= file.name %></p>
          <input type="hidden" name="file-name" value="<%= file.name %>" />
          <p class="file-size"> <%= formatFileSize(file.size) %></p>
    	  <label for="caption">Photo caption</label>
      	  <div class="input">
            <input type="text" name="caption" class="span5"/>
          </div>
          <div class="progress progress-success progress-striped active">
            <div class="bar" style="width:0%;"></div>
          </div>
        </div><!-- /clearfix -->
        <div class="photo-buttons" >
      	  <a href="#" class="btn-flat red small delete">Remove photo</a>
          <a href="#" class="btn-flat blue"><i class="icon-upload icon-white"> Start</i></a>
        </div><!-- /photo-buttons -->
        <!-- <div class="progressbar"><div style="width:0%;"></div></div> -->
      </fieldset>
    </div>  <!-- /photo-form -->
  </div>  <!-- /photo-panel -->
  <% }) %>
</script>

<script id="template-download" type="text/html">
  <% _.each(files, function(file, idx) { %>
  <div class="photo-panel">
    <div class="thumb-wrap">
      <img class="thumbnail" src="<%= file.thumbnail_url %>" style="max-width:210px;max-height:150px;"/>
    </div>  <!-- /thumb-wrap -->
    <div class="photo-form">
      <fieldset>
        <div class="clearfix">
    	  <label for="caption">File name:</label>
          <p class="file-name"><%= file.name %></p>
          <input type="hidden" name="file-name" value="<%= file.name %>" />
          <p class="file-size"> <%= formatFileSize(file.size) %></p>
    	  <label for="caption">Photo caption</label>
      	  <div class="input">
            <input type="text" name="caption" class="span5 valid"/>
          </div>
          <label for="title-picture">Title picture</label>
      	  <div class="input">
            <input type="radio" name="title-picture"/>
          </div>
        </div><!-- /clearfix -->
        <div class="photo-buttons" >
      	  <a href="#" class="btn-flat red small delete">Remove photo</a>
        </div><!-- /photo-buttons -->
        <!-- <div class="progressbar"><div style="width:0%;"></div></div> -->
      </fieldset>
    </div>  <!-- /photo-form -->
  </div>  <!-- /photo-panel -->

  <% }) %>
</script>
<!-- The Templates and Load Image plugins are included for the FileUpload user interface -->
<script src="../js/load-image.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="../js/jquery.iframe-transport.js"></script>
<script src="../js/jquery.fileupload.js"></script>
<script src="../js/jquery.fileupload-ui.js"></script>
<script src="../js/fileupload-application.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]><script src="cors/jquery.xdr-transport.js"></script><![endif]-->
