<section id="section-head" class="row">
  <h1 class="section-header">Manage&nbsp;:&nbsp;<span class="current">Optional Pages</span></h1>
  <div id="site-manager" class="span4">
    <ul id="site-manager-menu" class="nav pull-right">
      <li class="dropdown" data-dropdown="dropdown">
        <a href="#" id="site-toggle" class="dropdown-toggle website-name" style="font-size:1em;font-weight:600;">Currently Editing:<span class="caret"></span></a>
        <ul id="site-manager-dropdown" class="dropdown-menu">
          <li class="divider"></li>
          <li><a class="link-site manage" href="create.html">+&nbsp;&nbsp;Add another site...</a></li>
          <li><a class="link-site add" href="sites.html">Manage sites...</a></li>
          <li class="divider"></li>
          <li><a class="link-site send" href="#">Send Link to Phone</a></li>
    <li><a class="link-site generate" href="#">View/Generate QR code</a></li>
    <li><a class="link-site preview" href="#">Preview Site in Phone Simulator</a></li>
          </ul><!-- /site-manager-dropdown -->
        </li>
    </ul><!-- /site-manager-menu -->
  </div><!-- /span4 -->
</section><!-- /section-head -->

<!-- OPTIONAL PAGES -->
<section id="optional-pages" class="span8">
  <h4>Optional Pages</h4>
  <!-- =====  OPTIONAL PAGES FORM  ===== -->
  <form name="optional-pages">
    <ul class="inputs-list">
      <li>
	<label>
          <input type="checkbox" name="request-service"/>
          <span>Request Service</span>
        </label>
      </li>
      <li>
	<label>
          <input type="checkbox" name="request-estimate"/>
          <span>Request Estimate</span>
        </label>
      </li>
      <li>
	<label>
          <input type="checkbox" name="submit-survey"/>
          <span>Submit Survey</span>
        </label>
      </li>
      <li>
	<label>
          <input type="checkbox" name="submit-testimonial"/>
          <span>Submit Testimonial</span>
        </label>
      </li>
    </ul>
  </form><!-- /optionalPagesForm -->
</section>  <!--/span8 -->

{{ template[sidebar_mode]['optional-pages'] }}

