<section id="section-head" class="row">
  <h1 class="section-header">Manage&nbsp;:&nbsp;<span class="current">Company Profile</span></h1>
  <div id="site-manager" class="span4">
    <ul id="site-manager-menu" class="nav pull-right">
      <li class="dropdown" data-dropdown="dropdown">
        <a href="#" id="site-toggle" class="dropdown-toggle website-name" style="font-size:1em;font-weight:600;">Currently Editing:<span class="caret"></span></a>
        <ul id="site-manager-dropdown" class="dropdown-menu">
          <li class="divider"></li>
          <li><a class="link-site manage" href="create.html">+&nbsp;&nbsp;Add another site...</a></li>
          <li><a class="link-site add" href="sites.html">Manage sites...</a></li>
          <li class="divider"></li>
          <li><a class="link-site send" href="#">Send Link to Phone</a></li>
    <li><a class="link-site generate" href="#">View/Generate QR code</a></li>
    <li><a class="link-site preview" href="#">Preview Site in Phone Simulator</a></li>
          </ul><!-- /site-manager-dropdown -->
        </li>
    </ul><!-- /site-manager-menu -->
  </div><!-- /span4 -->
</section><!-- /section-head -->


<section id="profile" class="span8">
  <!--  =====  COMPANY PROFILE  =====  -->
  <div>
    <h5>About Us</h5>
    <p class="hint-inline">Required fields denoted with a ' * '.</p>
    <form id="company-profile-form" name="company-profile">
      <div class="clearfix">
        <label>Company Name *</label>
        <div class="input">
          <input name="company-name" type="text" placeholder="Company Name" class="span6 {validate: {required:true}}" />
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label>Slogan/Tagline</label>
        <div class="input">
          <input name="slogan" type="text" placeholder="Slogan" title="Remember to keep it simple. Try something like 'Great service, fast'."  class="span6" />
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label>Description</label>
        <div class="input">
          <textarea name="description" rows="5" placeholder="Here you can briefly describe your company."  class="span6 {validation: {maxlength:200}}" ></textarea>
          <p class="hint-inline">Maximum 200 characters.</p>
        </div>
      </div>  <!-- /clearfix -->
    </form>
  </div><!-- /company-profile -->
  
  <!--  =====  CONTACT INFORMATION  =====  -->
  <div>
    <h5>Contact Information</h5>
    <p class="hint-inline">All fields required.</p>
    <form id="contact-information-form" name="contact-information">
      <div class="clearfix">
        <label>Street Address</label>
        <div class="input">
          <input name="street-address" type="text" placeholder="123 Peachtree Street" title="This is the address you used when you registered your business." class="large {validate: {required:true}}"/>
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label>Suite Number</label>
        <div class="input">
          <input class="small" name="suite" type="text" placeholder="13B" />
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label>City</label>
        <div class="input">
          <input name="city" type="text" placeholder="Anytown" class="small {validate: {required:true}}"/>
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label>State</label>
        <div class="input">
          <select class="small" name="state">
            <option>AL</option>
            <option>AR</option>
            <option>DE</option>
            <option>FL</option>
            <option>GA</option>
          </select>
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label>Telephone</label>
        <div class="input">
          <input name="telephone" type="text" placeholder="(123) 555-6789" title="A mobile number is prefered. This way, interested parties can either call or send you a text message." class="small {validate: {required:true}}"/>
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label>Email</label>
        <div class="input">
          <input name="email" type="text" placeholder="you@yourcompany.com" title="Who is the primary contact?"  class="large {validate: {required:true}}" />
        </div>
      </div><!-- /clearfix -->
    </form>
  </div><!-- /contact-information -->
</section>  <!--/profile-form span10 -->

{{ template[sidebar_mode]['profile'] }} 
