<!-- OPTIONAL PAGES -->
<div id="optional-pages" class="span8">
  <img class="illustration" src="../images/iphone-req-service.png" alt="iPhone illustration: Request Service" />
  <form id="optional-pages-form" name="optional-pages" class="form-stacked" method="POST">
    <div class="clearfix">
      <label id="optionsRadio">Would you like to place a "Request Service" button on your mobile site's home page?</label>
      <div class="input">
  	<ul class="inputs-list">
  	  <li>
  	    <label><input type="radio" checked name="request-service" value="yes" /><span>Yes</span></label>
  	  </li>
  	  <li>
  	    <label><input type="radio" name="request-service" value="no" /><span>No</span></label>
  	  </li>
  	</ul>
      </div><!-- /input -->
    </div><!-- /clearfix -->
  </form>
</div>  <!--/span8 -->

<div class="sidebar span5">
  <div class="alert-block alert-info well">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <h5 class="alert-heading">Request Service</h5>
    <p>This places a 'Request Service' button on your website's home page. Use this feature to give your potential and current customers an easy way to request your services.</p>
  </div>
  <div class="page-tools">
    <h5>Page Tools</h5>
    <img src="../images/mobile-prev-sm.png" alt="iPhone Screen Preview" />
    <p class="page-info"><strong>Last Edited:&nbsp;&nbsp;</strong>April 16, 2012</p>
    <p class="page-info"><strong>Status:&nbsp;&nbsp;</strong><span class="page-status online">Online</span></p>
    <p class="page-info">You can view an interactive preview of this page in your desktop's browser by clicking the 'Preview Page' button below.</p>
    <div id="modal-screen" class="modal hide fade">
      <div class="modal-header">
    	<a href="#" class="close">&times;</a>
    	<h3>Preview - My Mobile Website</h3>
      </div>
      <div class="modal-body">
    	<img src="../images/mobile-service.png" alt="iPhone Screen Preview" />
    	<h5>Credentials Page</h5>
    	<p>This is an interactive preview of your credentials page. Scroll up and down the page and play with the various elements to get a general idea of how they will look and work on a smartphone.</p>
      </div>
    </div>
    <div class="btn-group-tools">
      <a class="btn-flat blue square" data-controls-modal="modal-screen" data-backdrop="true" data-keyboard="true"><i class="icon-search icon-white"></i></a>
      <a href="#" class="btn-flat blue large"><i class="icon-ok icon-white"></i> Save Page</a>
    </div>
    <div class="btn-group">
      <a href="manage.html" class="btn-flat sidebar"><i class="icon-home"></i> Back to Manager</a>
    </div><!-- /btn-group -->
  </div><!-- /page-tools -->
</div><!-- /sidebar -->
