<section id="section-head" class="row">
  <h1 class="section-header">Manage&nbsp;:&nbsp;<span class="current">Service Areas</span></h1>
  <div id="site-manager" class="span4">
    <ul id="site-manager-menu" class="nav pull-right">
      <li class="dropdown" data-dropdown="dropdown">
        <a href="#" id="site-toggle" class="dropdown-toggle website-name" style="font-size:1em;font-weight:600;">Currently Editing:<span class="caret"></span></a>
        <ul id="site-manager-dropdown" class="dropdown-menu">
          <li class="divider"></li>
          <li><a class="link-site manage" href="create.html">+&nbsp;&nbsp;Add another site...</a></li>
          <li><a class="link-site add" href="sites.html">Manage sites...</a></li>
          <li class="divider"></li>
          <li><a class="link-site send" href="#">Send Link to Phone</a></li>
    <li><a class="link-site generate" href="#">View/Generate QR code</a></li>
    <li><a class="link-site preview" href="#">Preview Site in Phone Simulator</a></li>
          </ul><!-- /site-manager-dropdown -->
        </li>
    </ul><!-- /site-manager-menu -->
  </div><!-- /span4 -->
</section><!-- /section-head -->

<!-- SERVICE AREAS -->
<section id="service-areas" class="span8">
    <!-- =====  SERVICE AREAS FORM  ===== -->
    <form id="service-areas-form" name="service-areas" class="form-stacked" method="POST">
      <ul class="listServiceArea">
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
      </ul>
      <a href="#" class="btn-flat blue do-clone-widget">Add Service Area</a>
    </form>
</section>  <!--/service-areas span8 -->

{{ template[sidebar_mode]['service-areas'] }}
