<!-- SERVICE AREAS -->
<div id="service-areas-form" class="span10">
  <!-- SERVICE AREAS PANEL -->
  <div id="service-areas-panel">
    <!-- =====  SERVICE FORM  ===== -->
    <form id="serviceAreasForm" name="Service Areas" class="form-stacked" method="POST">
      <ul class="listServiceArea">
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
        <li>
          <div class="clearfix">
            <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
            <div class="input">
              <input class="span6" name="service-area" type="text"/>
            </div>
          </div>
        </li>
      </ul>
      <a href="#" class="btn primary add_service">Add Service Area</a>
    </form>
  </div><!-- /service-areas-panel -->
</div>  <!--/service-areas-form span10 -->

<div class="sidebar span6">
    <div class="alert-message block-message info">
	    <a class="close" href="#">&times;</a>
	    <img class="pull-left" src="images/icn-page-area.png" alt="Add Page: Service Area" />
    	<h5>Where do you work?</h5>
    	<p>Define a list of towns, cities, or counties that you service. Potential customers will be able to select from these options when contacting you.</p>
    </div>
    <div class="page-tools">
	    <h5>Page Tools</h5>
	    <img src="images/mobile-prev-sm.png" alt="iPhone Screen Preview" />
	    <p class="page-info"><strong>Last Edited:&nbsp;&nbsp;</strong>April 16, 2012</p>
	    <p class="page-info"><strong>Status:&nbsp;&nbsp;</strong><span class="page-status online">Online</span></p>
	    <p class="page-info">You can view an interactive preview of this page in your desktop's browser by clicking the 'Preview Page' button below.</p>
	    <div id="modal-screen" class="modal hide fade">
    		<div class="modal-header">
    			<a href="#" class="close">&times;</a>
    			<h3>Preview - My Mobile Website</h3>
    		</div>
    		<div class="modal-body">
    			<img src="images/mobile-service.png" alt="iPhone Screen Preview" />
    			<h5>Service Area Page</h5>
    			<p>This is an interactive preview of your service area page. Scroll up and down the page and play with the various elements to get a general idea of how they will look and work on a smartphone.</p>
    		</div>
    	</div>
    	<div class="btn-group">
      	  <a class="btn-flat blue sidebar" data-controls-modal="modal-screen" data-backdrop="true" data-keyboard="true">Preview Page</a>
	      <a href="#" class="btn-flat green sidebar">Save Page</a></p>
	      <a href="manage.html" class="btn-flat dark-grey sidebar">&larr;&nbsp;&nbsp;Back to Manager</a>
	    </div><!-- /btn-group -->
    </div><!-- /page-tools -->
  </div><!-- /sidebar -->

