<section id="section-head" class="row">
  <h1 class="section-header">Manage&nbsp;:&nbsp;<span class="current">Special Offers</span></h1>
  <div id="site-manager" class="span4">
    <ul id="site-manager-menu" class="nav pull-right">
      <li class="dropdown" data-dropdown="dropdown">
        <a href="#" id="site-toggle" class="dropdown-toggle website-name" style="font-size:1em;font-weight:600;">Currently Editing:<span class="caret"></span></a>
        <ul id="site-manager-dropdown" class="dropdown-menu">
          <li><a class="link-site manage" href="create.html"><i class="icon-plus"></i>&nbsp;Add Site</a></li>
          <li><a class="link-site add" href="sites.html"><i class="icon-th-large"></i>&nbsp;Manage Sites</a></li>
          <li class="divider"></li>
          <li><a class="link-site send" href="#"><i class="icon-share-alt"></i>&nbsp;Send to Phone</a></li>
          <li><a class="link-site generate" href="#"><i class="icon-qrcode"></i>&nbsp;View/Generate QR code</a></li>
          <li><a class="link-site preview" href="#"><i class="icon-eye-open"></i>&nbsp;Preview Phone Simulator</a></li>
          </ul><!-- /site-manager-dropdown -->
        </li>
    </ul><!-- /site-manager-menu -->
  </div><!-- /span4 -->
</section><!-- /section-head -->

<!-- SPECIAL OFFERS -->
<section id="special-offers" class="span8">
    <!-- =====  SPECIALS FORM  ===== -->
    <form id="specia-offers-form" name="special-offers">
      <ul class="listSpecialOffers">
	<li>
	  <h5>Special</h5>
          <div class="clearfix">
            <label>Offer Name</label>
            <div class="input">
              <input class="span6" id="input" name="Special Offer Name" type="text" placeholder="Handy-Man Special"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Discount Amount</label>
            <div class="input">
              <input class="mini" name="discountAmount" type="text" placeholder="25"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="miniSelect">Discount Type</label>
            <div class="input">
              <select class="mini" name="miniSelect" id="miniSelect">
	        <option>$</option>
	        <option>%</option>
              </select>
            </div>
          </div>
          <div class="clearfix">
            <label>Short Description</label>
            <div class="input">
              <textarea name="Description" rows="3" class="span6" placeholder="Are there any special restrictions? When does the offer expire?"></textarea>
              <p class="hint-inline">Maximum 200 characters.</p>

            </div>
          </div>  <!-- /clearfix -->
        </li>
        <li>
	  <h5>Special</h5>
          <div class="clearfix">
            <label>Offer Name</label>
            <div class="input">
              <input class="span6" name="Special Offer Name" type="text" placeholder="Handy-Man Special" />
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Discount Amount</label>
            <div class="input">
              <input class="mini" name="discountAmount" type="text" placeholder="25"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="miniSelect">Discount Type</label>
            <div class="input">
              <select class="mini" name="miniSelect">
	        <option>$</option>
	        <option>%</option>
              </select>
            </div>
          </div>
          <div class="clearfix">
            <label>Short Description</label>
            <div class="input">
              <textarea name="Description" rows="3" class="span6" placeholder="Are there any special restrictions? When does the offer expire?"></textarea>
              <p class="hint-inline">Maximum 200 characters.</p>
            </div>
          </div>  <!-- /clearfix -->
        </li>
        <li>
	  <h5>Special</h5>
          <div class="clearfix">
            <label>Offer Name</label>
            <div class="input">
              <input class="span6" name="Special Offer Name" type="text" placeholder="Handy-Man Special"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>Discount Amount</label>
            <div class="input">
              <input class="mini" name="discountAmount" type="text" placeholder="25"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="miniSelect">Discount Type</label>
            <div class="input">
              <select class="mini" name="miniSelect">
	        <option>$</option>
	        <option>%</option>
              </select>
            </div>
          </div>
          <div class="clearfix">
            <label>Short Description</label>
            <div class="input">
              <textarea name="Description" rows="3" class="span6" placeholder="Are there any special restrictions? When does the offer expire?"></textarea>
              <p class="hint-inline">Maximum 200 characters.</p>
            </div>
          </div>  <!-- /clearfix -->
        </li>
      </ul>
      <a href="#" class="btn-flat blue do-clone-widget">Add special offer</a>
    </form><!-- /special-offers-form -->
</section>  <!--/special-offers span8 -->

{{ template[sidebar_mode]['special-offers'] }}
