<!-- TESTIMONIALS -->
<div id="testimonials-form" class="span10">
  <!-- TESTIMONIALS PANEL -->
  <div id="testimonials-panel">
    
    <!-- =====  TESTIMONIALS FORM  ===== -->
    <form id="testimonialsForm" name="Testimonials">
      <ul class="listFeedback">
	<li>
	  <h5>Satisfied Customer 1</h5>
          <div class="clearfix">
            <label>Who said it?</label>
            <div class="input">
              <input class="span6" name="name" type="text" placeholder="John Doe - Atlanta,GA - XYZ Company"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>What did they say?</label>
            <div class="input">
              <textarea name="description" rows="5" class="span6" placeholder="Short testimonial. Maximum 200 characters."></textarea>
            </div>
          </div>  <!-- /clearfix -->
        </li>
        <li>
	  <h5>Satisfied Customer 2</h5>
          <div class="clearfix">
            <label>Who said it?</label>
            <div class="input">
              <input class="span6" name="name" type="text" placeholder="John Doe - Atlanta,GA - XYZ Company"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>What did they say?</label>
            <div class="input">
              <textarea name="description" rows="5" class="span6" placeholder="Short testimonial. Maximum 200 characters."></textarea>
            </div>
          </div>  <!-- /clearfix -->
        </li>
        <li>
	  <h5>Satisfied Customer 3</h5>
          <div class="clearfix">
            <label>Who said it?</label>
            <div class="input">
              <input class="span6" name="name" type="text" placeholder="John Doe - Atlanta,GA - XYZ Company"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>What did they say?</label>
            <div class="input">
              <textarea name="description" rows="5" class="span6" placeholder="Short testimonial. Maximum 200 characters."></textarea>
            </div>
          </div>  <!-- /clearfix -->
        </li>
      </ul>
    </form><!-- /testimonialsForm -->
  </div><!-- /testimonials-panel -->
</div>  <!--/testimonials-form span10 -->

<div class="sidebar span6">
    <div class="alert-message block-message info">
	    <a class="close" href="#">&times;</a>
	    <img class="pull-left" src="../images/icn-page-testimonials.png" alt="Add Page: Testimonials" />
	    <h5>Spread the word!</h5>
    <p>Word of mouth is a powerful tool, especially when it comes to marketing. Put it to use for your business by adding testimonials to your website.</p>
    </div>
    <div class="page-tools">
	    <h5>Page Tools</h5>
	    <img src="../images/mobile-prev-sm.png" alt="iPhone Screen Preview" />
	    <p class="page-info"><strong>Last Edited:&nbsp;&nbsp;</strong>April 16, 2012</p>
	    <p class="page-info"><strong>Status:&nbsp;&nbsp;</strong><span class="page-status online">Online</span></p>
	    <p class="page-info">You can view an interactive preview of this page in your desktop's browser by clicking the 'Preview Page' button below.</p>
	    <div id="modal-screen" class="modal hide fade">
    		<div class="modal-header">
    			<a href="#" class="close">&times;</a>
    			<h3>Preview - My Mobile Website</h3>
    		</div>
    		<div class="modal-body">
    			<img src="../images/mobile-service.png" alt="iPhone Screen Preview" />
    			<h5>Testimonials Page</h5>
    			<p>This is an interactive preview of your testimonials page. Scroll up and down the page and play with the various elements to get a general idea of how they will look and work on a smartphone.</p>
    		</div>
    	</div>
    	<div class="btn-group">
      	  <a class="btn-flat blue sidebar" data-controls-modal="modal-screen" data-backdrop="true" data-keyboard="true">Preview Page</a>
	      <a href="#" class="btn-flat green sidebar">Save Page</a></p>
	      <a href="manage.html" class="btn-flat dark-grey sidebar">&larr;&nbsp;&nbsp;Back to Manager</a>
	    </div><!-- /btn-group -->
    </div><!-- /page-tools -->
  </div><!-- /sidebar -->
