<section id="section-head" class="row">
  <h1 class="section-header">Manage&nbsp;:&nbsp;<span class="current">Testimonials</span></h1>
  <div id="site-manager" class="span4">
    <ul id="site-manager-menu" class="nav pull-right">
      <li class="dropdown" data-dropdown="dropdown">
        <a href="#" id="site-toggle" class="dropdown-toggle website-name" style="font-size:1em;font-weight:600;">Currently Editing:<span class="caret"></span></a>
        <ul id="site-manager-dropdown" class="dropdown-menu">
          <li class="divider"></li>
          <li><a class="link-site manage" href="create.html">+&nbsp;&nbsp;Add another site...</a></li>
          <li><a class="link-site add" href="sites.html">Manage sites...</a></li>
          <li class="divider"></li>
          <li><a class="link-site send" href="#">Send Link to Phone</a></li>
    <li><a class="link-site generate" href="#">View/Generate QR code</a></li>
    <li><a class="link-site preview" href="#">Preview Site in Phone Simulator</a></li>
          </ul><!-- /site-manager-dropdown -->
        </li>
    </ul><!-- /site-manager-menu -->
  </div><!-- /span4 -->
</section><!-- /section-head -->

<!-- TESTIMONIALS -->
<section id="testimonials" class="span8">
    <!-- =====  TESTIMONIALS FORM  ===== -->
    <form id="testimonials-form" name="testimonials">
      <ul class="listFeedback">
	<li>
	  <h5>Satisfied Customer</h5>
          <div class="clearfix">
            <label>Who said it?</label>
            <div class="input">
              <input class="span6" name="name" type="text" placeholder="John Doe - Atlanta,GA - XYZ Company"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>What did they say?</label>
            <div class="input">
              <textarea name="description" rows="5" class="span6" placeholder="Short testimonial. Maximum 200 characters."></textarea>
            </div>
          </div>  <!-- /clearfix -->
        </li>
        <li>
	  <h5>Satisfied Customer</h5>
          <div class="clearfix">
            <label>Who said it?</label>
            <div class="input">
              <input class="span6" name="name" type="text" placeholder="John Doe - Atlanta,GA - XYZ Company"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>What did they say?</label>
            <div class="input">
              <textarea name="description" rows="5" class="span6" placeholder="Short testimonial. Maximum 200 characters."></textarea>
            </div>
          </div>  <!-- /clearfix -->
        </li>
        <li>
	  <h5>Satisfied Customer</h5>
          <div class="clearfix">
            <label>Who said it?</label>
            <div class="input">
              <input class="span6" name="name" type="text" placeholder="John Doe - Atlanta,GA - XYZ Company"/>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label>What did they say?</label>
            <div class="input">
              <textarea name="description" rows="5" class="span6" placeholder="Short testimonial. Maximum 200 characters."></textarea>
            </div>
          </div>  <!-- /clearfix -->
        </li>
      </ul>
      <a href="#" class="btn-flat blue do-clone-widget">Add testimonial</a>
    </form><!-- /testimonials-form -->
</section>  <!--/testimonials span8 -->
{{ template[sidebar_mode]['testimonials'] }}

