<div id="wizard-nav" class="span15">
  <ul class="tabs" data-tabs="">
    <li class="active"><a href="#profile-pane">1.&nbsp;Company Profile</a></li>
    <li><a href="#upload-photos-pane">2.&nbsp;Upload Photos</a></li>
    <li><a href="#services-pane">3.&nbsp;Services/Products</a></li>
    <li><a href="#service-area-pane">4.&nbsp;Service Area</a></li>
    <li><a href="#optional-pages-pane">5.&nbsp;Optional Pages</a></li>
    <li><a href="#choose-theme-pane">6.&nbsp;Choose a Theme</a></li>
    <li><a href="#prevpub-pane">7.&nbsp;Preview &amp; Publish</a></li>
  </ul>
</div>

<div id="wizard" class="tab-content">
  <div class="tab-pane active" id="profile-pane">
    {{ processTemplate('profile') }}

    <div class="sidebar span5">
      <div class="page-tools">
        <h5>Page Information</h5>
        <img src="../images/icn-page-profile.png" alt="Add Page: Profile" />
        <p class="page-info"><strong>Profile Page</strong></p>
        <p class="page-info">This version of the sidebar should only be visible on the wizard pages. View an interactive preview of this page in your desktop's browser by clicking the 'Preview Page' button below.</p>
        <div id="modal-screen" class="modal hide fade">
          <div class="modal-header">
          <a href="#" class="close">&times;</a>
          <h3>Preview - My Mobile Website</h3>
          </div>
          <div class="modal-body">
          <div class="emulator-wrap">
            <div class="website-preview">
              { template code }
            </div>
          </div>
          <h5>Company Profile Page</h5>
          <p>This is an interactive preview of your company's profile. Scroll up and down the page and play with the various elements to get a general idea of how they will look and work on a smartphone.</p>
          </div>
        </div>
        <div class="btn-group-tools">
          <a class="btn-flat blue square" data-controls-modal="modal-screen" data-backdrop="true" data-keyboard="true"><i class="icon-search icon-white"></i></a>
          <a href="#" class="btn-flat blue large do-save-page"><i class="icon-ok icon-white"></i> Save Page</a>
        </div>
        <div class="btn-group-tools">
          <a href="manage.html" class="btn-flat dark-grey square"><i class="icon-home icon-white"></i></a>
          <a href="#upload-photos-pane" class="btn-flat dark-grey large">Next:&nbsp;Upload Photos</a>
        </div><!-- /btn-group-tools -->
      </div>
    </div><!-- /sidebar -->
  </div>  <!-- /tab-pane -->
  
  <div class="tab-pane" id="upload-photos-pane">
    {{ processTemplate('manage-photos') }} 
  </div>

  <div class="tab-pane" id="services-pane">
    {{ processTemplate('services') }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="service-area-pane">
    {{ processTemplate('service-areas') }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="optional-pages-pane">
    {{ processTemplate('optional-pages') }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="choose-theme-pane">
    {{ processTemplate('choose-theme') }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="prevpub-pane">
    <div id="preview-publish" class="span15">
      <h4>Preview &amp; Publish</h4>
      <div id="instructions" class="span5">
        <h5>Your website is ready to go!</h5>
        <p>You're now ready to publish your mobile site. To the right is a preview of your site. Be sure to play around with it and double check your information.</p>
        <br />
        <input id="publish" class="btn-flat green span5" type="submit" value="Publish &amp; Generate QR Code"/>
        <br />
        <img src="http://placehold.it/280&amp;text=YOUR+QR+CODE+HERE" alt="QR code placeholder" />
      </div>
      
      <div id="emulator-wrap" class="span8 offset5">
        <div id="emulator">
          <iframe id="emulator-view" src=""></iframe>
        </div>
      </div>
    </div>  <!--/preview-publish -->
  </div>  <!-- /tab-pane -->
</div>  <!-- /tab-content -->
